{% extends "mdfserver/index.html" %}
{% block content %}
    <div style="border: 1px solid rgb(220, 225, 230); padding-left: 20px; padding-right: 20px">
        {% for page in pages %}
            {% if subpage_name %}
                {% if requested == page.title %}
                    {% for subpage in page.subpage_set.all %}
                        {% if subpage_name|cut:" " == subpage|cut:" " %}
                            {{ subpage.content | safe }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% elif requested == page.title %}
                {{ page.content | safe }}
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}

{% block homepage %}
    <div style="border: 1px solid rgb(220, 225, 230); padding-top: 0px;" id="site_content">

        <div id="content">
            <h1></h1>

            <div id="box">
                <ul id="slider">
                    <li style="list-style-type: none" id="1" class="currentSlide">
                        <img class="big_image"
                             src="http://data.iutahepscor.org/mdf/sites/default/files/webform/banner/images/Trial%20Lake%20SNOTEL%20Site.jpg"
                             alt="">

                        <p class="image_msg">
                            <span style="font-size: 12px; margin-left: 10%"><em>We are conducting a data inventory. Let
                                us know about datasets that you will be using or creating.
                                <wbr>
                                <a
                                        class="banner-button" href="./data-inventory">Submit Dataset
                                    Information</a></em></span>

                        </p>
                    </li>

                </ul>
                <!--
                <ul id="thumb">
                    <li>
                        <div id="t1" class="thumbnail" style="border: 3px solid rgb(64, 64, 64);"></div>
                    </li>
                </ul>-->
            </div>

            <div class="region region-content">
                <div id="block-system-main" class="block block-system">


                    <div class="content">
                        <div id="node-1" class="node node-page clearfix" about="/mdf/Home" typeof="foaf:Document">


                            <div class="content">
                                <div style="padding-left: 20px;padding-right: 20px;"
                                     class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <div class="item-page">
                                                <section class="column_left">
                                                <h1>About Us</h1>
                                                    <p>The iUTAH Modeling and Data Federation is an online system for
                                                        sharing data, models, and other digital resources.&nbsp;
                                                        Activities
                                                        of the iUTAH Cyberinfrastructure Team (CI Team) are focused on
                                                        developing hardware and software systems and tools that improve
                                                        iUTAH participants’ capacity for data collection, organization,
                                                        management, sharing, synthesis to higher-level products, and
                                                        integration with models.</p>
                                                </section>

                                                <section class="column_right">
                                                    <h2>Announcements</h2>

                                                    <p><strong>Data Inventory: </strong>As an initial step in developing
                                                        the
                                                        iUTAH Modeling and Data Federation, we are conducting a survey
                                                        of
                                                        existing and planned datasets.<br><a href="./data-inventory">Click
                                                            here</a> to submit dataset information to the iUTAH data
                                                        inventory or view the list of datasets that have been submitted.
                                                    </p>

                                                    <p><strong>Model Inventory: </strong>We are collecting information
                                                        about
                                                        models from a variety of disciplines that may be of interest to
                                                        your
                                                        iUTAH-related research.<br><a href="./model-inventory">Click
                                                            here</a> to submit model information to the iUTAH data
                                                        inventory
                                                        or view the list of models that have been submitted.</p>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block links %}
    <div id="footerLinks">
        <div class="linksbox">
            <ul>
                <li><a href="http://www.iutahepscor.org">iUTAH Homepage</a></li>
                <li><a href="http://www.utepscor.org">Utah EPSCoR</a></li>
                <li><a href="http://ci-water.org/">CI-WATER EPSCoR</a></li>
            </ul>
        </div>
        <div class="linksbox">
            <ul>
                <li><a href="gamut-network">GAMUT Data Overview</a></li>
                <li><a href="http://data.iutahepscor.org/odmmap" target="_blank">GAMUT Map Viewer</a></li>
                <li><a href="software-development">Software Development</a></li>
            </ul>
        </div>
        <div class="linksbox lastbox">
            <ul>
                <li><a href="about/documentation">Documentation</a></li>
                <li><a href="about/training-materials">Training Materials</a></li>
                <li><a href="about/personnel">Contact Us</a></li>
            </ul>
        </div>
    </div>
{% endblock %}