/*Custom Style File*/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.spacer h1 {
    margin: 22px 0px -17px 4px;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#modal_contents img {
    height: 600px;
    /*margin-left: -311px;*/
/
}

.modal-dialog.modal-lg {
    width: 0px;
}

#the_modal {
    text-align: center;
    left: auto;
    width: 937px;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    border: 0;
    box-shadow: 0px 0px 0px 0px;

}

#correct_h2 {
    margin-top: 96px;
}

#gamut_image {
    height: 486px;
    overflow: hidden;
}

#data_flow {
    width: 900px;
    margin-top: -80px;
}

div ul {
    margin-top: -24px;
    margin-bottom: 24px;
}

.modal.fade {
    top: -68%;
    left: -120%;
    height: 1px;
}

#data-watershed-gallery-modal {
    height: 600px;
    overflow: hidden;
    width: 84%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#data-watershed-gallery-modal img.display {
    width: auto;
    /*min-height: auto;*/
}

.modal.fade.in {
    top: 12.6%;
}

#iutah_logo {
    float: left;
    clear: both;
    height: 60px;
    margin-left: -2px;
}

#main_title {
    padding-top: 4px;
    font-size: 25px;
    margin-bottom: 8px;

}

#second_title {
    font-size: 11px;
    margin-top: -7px;
    padding-left: 2px;
}

#map-canvas {
    margin-top: 11px;
    height: 400px;
}

#map-canvas img {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
}

#main_title, #second_title {
    text-decoration: none;
    color: #6D6E71;
    margin-left: 145px;
}

#home_linker:hover {
    text-decoration: none;
}

#title_logo {
    height: 70px;
}

.center_header {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}

#page-header {
    position: fixed;
    width: 100%;
    z-index: 10;
    z-index: 10;
}

.carousel-inner {
    height: inherit !important;
    width: 100%;
    background: #444;
}

.carousel-inner img {
    /*width: 940px;
    min-height: 404px;
    min-height: 441px;*/
}

.carousel-control.right {
    right: 22px;
!important
}

.carousel-control span {
    width: auto;
    height: auto;
    position: absolute;
    left: 7px;
    /* top: 6%;*/
}

#site_select {
    position: fixed;
    z-index: 20;
    top: 86px;
    height: 0px;
}

#st_select {
    float: right;
}

@media screen\0  {
    .carousel-control span {
        top: 0.2cm;
    !important
    }
}

@-moz-document url-prefix() {
    .carousel-control span {
        top: 0.2cm;
    !important
    }
}

.carousel-control.right span {
    /*margin-left: 9px;
    left: 2px;*/
    margin-left: 13px;
    left: 2px;
    background: black;
    width: 131%;
    height: 87.5%;
    padding-top: 58%;
    padding-bottom: 23%;
    border-radius: 43px;
    padding-right: 121px;
    padding-left: 1px;
    border: 3px white solid;
}

.carousel-control.left span {
    margin-left: -149px;
    left: 2px;
    background: black;
    width: 131%;
    height: 87.5%;
    padding-top: 58%;
    padding-bottom: 23%;
    border-radius: 43px;
    padding-right: 1px;
    padding-left: 121px;
    border: 3px white solid;
}

.carousel-control {
    top: 42%;
    padding-top: 4px;
    padding-right: 5px;
    width: 33px;
    height: 35px;
    border-radius: 71px;
    border: none;
    background: transparent;
    !important
}

.carousel-caption {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #333;
}

#raw_tsa_buttons
{
    margin-bottom: -59px;
}

#raw_tsa_buttons>button
{
    left: -15px;
    position: relative;
    top: 15px;
    width: 469.5px;
}

#raw_tsa_buttons>a
{
   position: relative;
    top: -45px;
    left: 456px;
}

#raw_tsa_buttons>a>button
{
   width: 469.5px;
}

button.btn
{
    height: 60px;
}

#big_image {
    width: 939px;
    height: 404px;
    height: 441px;
    overflow: hidden;
    margin-top: 9px;
}

.big_image {
    height: 440px;
    overflow: hidden;
    margin-left: -16%;
}

#big_image img {
    width: 100%;
}

.image_msg {
    margin-top: -40px;
    width: 940px;
    background-color: white;
    position: relative;
    opacity: 0.6;
    z-index: 1;
    border-radius: 5px;
    color: black;
    padding-top: 5px;
}

.image_msg span {
    opacity: 1;
}

#spacer {
    padding-top: 111px;
}

#slider {
    margin: 0%;
    width: 1080px;
}

#site_content {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 575px;
}

/*Experimenting from here on*/

* {
    margin: 0;
    padding: 0;
}

/* tell the browser to render HTML 5 elements as block */

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

.column_left {
    width: 350px;
    float: left;
}

.column_right {
    width: 460px;
    float: right;
    border-left: 1px dotted lightblue;
    padding-left: 30px;
}

body {
    font: normal .80em arial, sans-serif;
    color: #444;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    background-color: #C2DBE8;
    /* IE10 Consumer Preview*/
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);

    /* Mozilla Firefox*/
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);

    /* Opera*/
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);

    /* Webkit (Safari/Chrome 10)*/
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F5F5F5));

    /* Webkit (Chrome 11+)*/
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F5F5F5 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F5F5F5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
    text-align: justify;
}

.sideImage ~ p ~ h2 {
    margin-top: 26px;
}

.dropdown-menu {
    border-radius: 3px;
    margin-top: 0;
    border-top: 1px #f2f2f2 solid;;
}

#content p {
    font-size: 12px;
}

h2 + p {
    border-top-style: groove;
    /*border-top-left-radius: 4px;*/
    border-top-right-radius: 4px;
    margin-top: -12px;
}

img {
    border: 0;
    max-width: 1800px;
}

a img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #425766;
    letter-spacing: 0em;

}

table {
    border: 1px dotted #fff;
}

.site_data table th {
    text-align: right;
    border: 1px solid #e7e7e7;
    border-right: 1px solid transparent;
    text-align: left;

}

.site_data table td {
    padding-left: 5px;
    border: 1px solid #e7e7e7;
    text-align: left;

}

.site_data table {
    margin-top: 25px;
    height: 344px;
    border-collapse: collapse;
    /*border: 1px solid #ddd;*/
    background: transparent; /*#e7e7e7;*/
}

th {
    padding: 7px 11px;
    font-weight: bold;
    font-size: 14px;

}

.td-align {
    width: 32%;
}

.plain-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 20px 0px;
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
}

.plain-table a {
    color: #444;
    text-decoration: underline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
}

.plain-table th:nth-child(1) {
    width: 26%;
}

td {
    padding: 7px 25px;
    border-top: 1px dashed #fff;
}

h1, h2, h3 {
    font: normal 180% "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

h3 {
    font-size: 140%;
    padding: 5px 0 0 0;
}

h4, h6 {
    color: #F67400;
    padding: 0 0 5px 0;
    font: normal 130% arial, sans-serif;
}

h5, h6 {
    color: #555;
    font: italic 95% arial, sans-serif;
    letter-spacing: normal;
    padding: 0 0 15px 0;
}

.icon-prev, .icon-next {
    vertical-align: middle;
!important
}

/*[class^='icon-'], [class*=' icon-'] {
    margin-top: -14px;
    padding-bottom: 14px;
}*/

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    color: #00A5E3;
}

.region-content {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;

}

strong {
    color: #425766;
}

a {
    color: #6F8A9E;
}

h1 {
    font-size: 29px;
}

h2 {
    font-size: 22px;
    border-bottom: 2px lightgray;
    border-bottom-style: solid;
    border-bottom-style: groove;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
}

h3 {
    font-size: 18px;
}

#main, nav, #container, #logo, #site_content, footer {
    margin-left: auto;
    margin-right: auto;
}

#main {
    margin: 5px auto;
    background: transparent;
    padding-bottom: 30px;
}

header {
    background: transparent;
    height: 110px;
}

.contacts-box {
    text-align: center;
}

.contact-info {
    float: left;
    width: 33.33%;
    margin-bottom: 70px;
}

footer {

    font: 89% Tahoma, Geneva, sans-serif;
    height: 68px;
    margin-top: -5px;
    padding: 15px 0 15px 0;
    color: #6D6E71;
    background: #333;

    /* Show a solid color for older browsers */

    background: -moz-linear-gradient(#444, #222);

    background: -o-linear-gradient(#444, #222);

    background: -webkit-linear-gradient(#444, #222);
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
    border: 1px solid #222;
}

#footer-left-image {
    display: inline !important;
    position: relative;
    float: left !important;
    margin-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #888;
}

#footer-right-image {
    display: inline !important;
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: -4px;
}

#footer-text {
    display: inline !important;
    float: left;
    margin-left: 10px;
    width: 630px;
    position: relative;

}

.sideIMG img {
    margin-top: 5px;
    width: 36%;
    max-width: 600px;
    /* border: 1px solid; */
    padding: 0px 46px;
    background: white;
    clear: none;
    float: left;
    margin-right: 10px;
    padding-bottom: 8px;
    margin-bottom: 25px;
}

ul.gamut_list {
    margin-left: 468px;
    margin-top: -18px;
    margin-bottom: 33px;
    list-style-type: circle;
}

.no_data_msg p {
    text-align: center;
    color: #BA0000;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.sideIMGR img {
    margin-top: -14px;
    height: 336px;
    border: 0px solid;
    clear: none;
    /* float: right; */
    margin-left: 106px;
    margin-right: -106px;
    margin-bottom: 23px;
}

.sideImage img {
    margin-top: 5px;
    width: 30%;
    max-width: 300px;
    border: 1px solid;
    padding: 2px;
    clear: none;
    float: left;
    margin-right: 15px;
    margin-bottom: 25px;
}

.sideImageRight img {
    margin-top: 5px;
    height: 150px;
    border: 1px solid;
    clear: none;
    float: right;
    margin-right: 2px;
    margin-bottom: 25px;
}

.rightPanel {
    width: 25%;
    float: right;
}

.disclaimer {
    color: red;
    padding: 0px;
    margin-bottom: -2px;
    margin-top: -6px;
    font-size: 13px !important;
}

.leftPanel {
    width: 70%;
    float: left;
}

.watershed-image-gallery {
    margin: 13px 25px;
    margin-right: 6px;
    position: relative;
    float: right;
    width: 60%;
    height: 310px;
    text-align: center;
    width: 66%;
    overflow: hidden;
}

#data-watershed-gallery {
    position: relative;
    display: inline-block;
    height: 344px;
    margin-top: 25px;
    margin-right: 0px;
    width: 43%;

}

#data-watershed-gallery img.display {
    width: auto;
    height: 342px;
    min-height: 342px;
}

.thumbnail {
    background: rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnailsContainer {
    display: inline-block;
    margin-top: -20px;
    width: 100.4%;
    height: 10%;
    padding-top: 12px;
    padding-bottom: 8px;
    border-radius: 0px 0px 7px 7px;
    background: rgba(0, 0, 0, 0.2);
}

.info_space {
    width: 903px;
    height: 351px;
    float: right;
}

#graph-title {
    margin-top: 30px;
    clear: both;
    border-bottom: 0px;
}

.most_recent {
    padding: 0px 15px;
    width: 102.9%;
}

.most_recent > p {
    padding: 0px;
    margin: 0px;
    margin-left: 237px;
}

.most_recent h4 {
    padding-bottom: 0px;
    margin-top: -14px;
}

.most_recent h3 {
    margin-left: 10px;
}

#warning_sign {
    width: 279px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0px;
    border-top: 0px inset lightgray;
    border: 1px dotted lightgray;
    border-radius: -2px;
    padding: 10px;
    color: #FC1111;
    position: relative;
    top: -11px;
    left: 616px;
    padding-bottom: 9px;
    margin-left: 0px;
    text-align: center;
    display: inline-block;
}

.var_name {
    max-width: 30%;
    min-width: 128px;
    height: 34px;
    float: left;
    text-align: center;
    line-height: 16px;
    padding: 0px;
}

.var_value {
    margin-top: -4px;
    min-width: 135px;
    float: left;
    padding-left: 27%;
    font-weight: bold;
    font-size: 1.5em;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 6px #AAA;
}

#map-canvas {
    margin-bottom: 20px;
}

/*@-moz-document url-prefix() {*/
#map-canvas img {
    position: static;
    top: 0px;
    left: 0px;
    width: 50px;
}

/*}*/

.data_box {
    border: 1px solid #808080;
    float: left;
    width: 29.8%;
    height: 90px;
    margin-bottom: 15px;
    margin-left: -1.6%;
    margin-right: 4.3%;
    box-shadow: -2px 2px 5px 1px #ccc;
    padding: 2px;
    border-radius: 3px;
}

.data_box:hover {
    cursor: pointer;
    box-shadow: -0px 1px 8px 1px #8B8B8B;
}

.graphContainer {
    position: relative;
    top: -42.3px;
    left: 131px;
    border: 1px solid #808080;
    width: 150px;
    height: 55px;
    margin-top: -33px;
}

.data_box div {
    width: 50%;
}

.data_box div p {
    text-align: center;
    line-height: 12px;
    padding: 0px;
    padding-top: 2px;

}

.data_box div p + p {
    font-weight: bold;
    font-size: 1.5em;
}

.data_box a {
    text-decoration: none;
    font: normal arial, sans-serif;
    color: #444;
}

.site_data {
    width: 53%;
    padding: 0px 0px;
    position: relative;
    display: inline-block;
    float: left;
}

img.display {
    margin: 0 auto;
    display: block;
    z-index: -10;
    /* width: 405px; */
    height: 309px;
    /* min-height: 326px; */
}

img.thumbnail {
    margin-right: 4px;
    float: center;
    display: inline;
    height: 24px;
}

.btnNext, .btnPrev {
    margin-bottom: 10px;
    margin-top: -10px;
}

.btnNext, .btnPrev, img.thumbnail {
    cursor: pointer;
    cursor: hand;
}

.collage {
    margin-left: 100px;
}

.afterText .imgWrapper {
    display: inline;
    position: relative;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px !important;
}

.afterText2 .imgWrapper2 {
    display: inline-block;
    position: relative;
    margin-left: 30px;
    margin-bottom: 30px !important;
}

.afterText2 img {
    padding: 3px;
    border: 1px solid;
    width: inherit;
}

.wrapperText2 {
    font-size: 0.9em;
    width: 183px;
    padding: 0px;
    padding-top: 7%;
    text-align: center;
}

.smallImage {
    display: inline;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.smallImage img {
    padding: 3px;
    border: 1px solid;
    margin-left: 125px;
    margin-bottom: 10px;
}

.leftCollagePanel img {
    max-width: 354px !important;
}

.collage img {
    padding: 3px;
    border: 1px solid;
    max-width: 100px;
    width: inherit;
    height: inherit;
}

.afterText img {
    padding: 3px;
    border: 1px solid;
    max-height: 160px;
    width: inherit;
    height: inherit;
}

div.leftCollagePanel {
    float: left;
    margin-right: 6px
}

#EquipMgmt2, #EquipMgmt3 {
    max-width: 283px;
}

.rightCollagePanel > div {
    margin-bottom: 6px;
}

.besideTitle {
    position: relative;
    float: right;
    margin-top: -70px;

}

.besideTitle img {
    width: 18%;
    border: 1px solid;
    padding: 2px;
    float: inherit;
}

.navbar {
    margin-bottom: 0px;
}

.node-unpublished {
    padding: 20px;
    background-color: rgba(120, 142, 30, 0.06);
}

/*
Stylesheet for SooperFish by www.SooperThemes.com

/
/
Author: Jurriaan Roelofs

/*Configuration of menu width
*/

html body ul.nice-menu ul, html body ul.nice-menu ul li {
    width: 222px;
    padding: 2px;
}

html body ul.nice-menu ul ul {
    margin: 0 0 0 220px;
}

/*
/
Framework for proper showing

/
hiding

/
positioning*/
ul.nice-menu, ul.nice-menu * {
    margin: 0;
    padding: 0;
}

ul.nice-menu {
    display: block;
    position: relative;
}

ul.nice-menu li {
    display: block;
    list-style: none;
    float: left;
    position: relative;
    padding-bottom: 3px;
    border: none;
    background: none;
}

ul.nice-menu li:hover {
    visibility: inherit;
/ / fixes IE7 'sticky bug'
}

ul.nice-menu-down li.menuparent {
    background: none;
}

ul.nice-menu-down li.menuparent:hover {
    background: none;
}

ul.nice-menu a {
    display: block;
    position: relative;
}

ul.nice-menu ul {
    position: absolute;
    left: 0;
    margin-left: 20px;
    left: -999999px;
    z-index: 999999;
    border-top: 1px solid #222 !important;
    top: 29px !important;
}

ul.nice-menu ul a {
    zoom: 1;
/ / IE6 / 7 fix
}

ul.nice-menu ul li {
    float: left;
/ / Must always be floated otherwise there will be a rogue 1 px margin-bottom in IE6 / 7 width : 150 px;
    padding-left: 10px !important;
}

ul.nice-menu ul ul {
    top: 0;
    margin: 0 0 0 150px;
}

ul.nice-menu li:hover ul, ul.nice-menu li:focus ul, ul.nice-menu li.sf-hover ul,
ul.nice-menu ul li:hover ul, ul.nice-menu ul li:focus ul, ul.nice-menu ul li.sf-hover ul,
ul.nice-menu ul ul li:hover ul, ul.nice-menu ul ul li:focus ul, ul.nice-menu ul ul li.sf-hover ul,
ul.nice-menu ul ul ul li:hover ul, ul.nice-menu ul ul ul li:focus ul, ul.nice-menu ul ul ul li.sf-hover ul {
    left: auto;
}

ul.nice-menu li:hover ul ul, ul.nice-menu li:focus ul ul, ul.nice-menu li.sf-hover ul ul,
ul.nice-menu ul li:hover ul ul, ul.nice-menu ul li:focus ul ul, ul.nice-menu ul li.sf-hover ul ul,
ul.nice-menu ul ul li:hover ul ul, ul.nice-menu ul ul li:focus ul ul, ul.nice-menu ul ul li.sf-hover ul ul,
ul.nice-menu ul ul ul li:hover ul ul, ul.nice-menu ul ul ul li:focus ul ul, ul.nice-menu ul ul ul li.sf-hover ul ul {
    left: -999999px;
}

/* autoArrows CSS*/
span.sf-arrow {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 20px;
    right: 5px;
    display: block;
    overflow: hidden;
}

ul ul span.sf-arrow {
    right: 5px;
    top: 20px;
    background-position: 0 100%;
}

/* Theming the menu*/

ul.nice-menu ul {
    background: #717073;
    margin-top: 3px;
    padding-bottom: 15px;
}

ul.nice-menu li a {
    padding: 0px 25px 6px 25px;
    font: 125% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: none;
    color: #FFF;
    margin-right: 2px;
    margin-top: 4px;

}

ul.nice-menu li a:hover, ul.nice-menu li a:focus, ul.nice-menu li.selected a, ul.nice-menu li.selected a:hover, ul.nice-menu li.selected a:focus {
    color: #788E1E;
    text-shadow: none;
}

ul.nice-menu ul li a {
    color: #FFF;
    font-size: 109%;
    padding-left: 10px;
    margin-right: 20px;
    border-bottom: #504f51 1px solid;
}

.highcharts-contextmenu div{
    width: 150px;
}

.highcharts-contextmenu div div{
    width: 140px;
}

ul.nice-menu.active {
    color: #788E1E;
}

ul.nice-menu ul li.last a {
    border-bottom: none;
}

ul.nice-menu ul li.last {
    border-bottom: none;
}

ul.nice-menu ul li a:hover {
    color: #788E1E;
}

/* Image Transitions*/
ul#images {
    margin: 0 15px 10px 0;
    padding: 0;
    list-style: none;
    position: relative;
}

ul#images li {
    display: block;
    overflow: hidden;
    padding: 0;
    float: left;
    width: 155px;
    height: 300px;
}

/* Homepage's footer links
*/

#footerLinks {
    overflow: hidden;
    width: auto;
    margin-top: 0px;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 20px;
}

#footerLinks .linksbox {
    padding: 0px 55px;
    float: left;
    border-right: 1px solid rgb(185, 185, 185);
    width: 190px;

}

#footerLinks .lastbox {
    border-right: none !important;
}

#footerLinks .linksbox ul {
    padding: 0px;
    margin: 0px;

}

#footerLinks .linksbox ul li {
    padding: 9px 0px;
    text-align: center;
    background-image: none;
    list-style-type: none;
}

#footerLinks .linksbox a {
    text-decoration: none;
}

#footerLinks .linksbox a:hover {
    text-decoration: underline;
}

.site_heading {
    padding-left: 0.5em;
}



