{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Documentation{% endblock %}
{% block about_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <div class="page-header">
                <h1 class="text-center">Documentation</h1>
            </div>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-23" class="node node-page clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <p>This page lists presentations, posters, and publications related to iUTAH
                                                Cyberinfrastructure Development.</p>

                                            <div class="">
                                                <h2>Journal Publications and Conference Proceedings</h2>

                                                <div><strong>Flint, C.G., A.S. Jones, J.S. Horsburgh (2017).</strong></div>
                                                <p class="indent">
                                                    Data Management Dimensions of Social Water Science: The iUTAH Experience,
                                                    Journal of the American Water Resources Association 53(5), 988-996,
                                                    <a href="http://dx.doi.org/10.1111/1752-1688.12568">http://dx.doi.org/10.1111/1752-1688.12568</a>.
                                                </p>

                                                <div><strong>Jones, A.S., Z.T. Aanderud, J.S. Horsburgh, D.P. Eiriksson, D. Dastrup, C. Cox, S.B. Jones, D.R. Bowling, J. Carlisle, G.T. Carling, M.A. Baker (2017).</strong></div>
                                                <p>
                                                    Designing and Implementing a Network for Sensing Water Quality and Hydrology
                                                    across Mountain to Urban Transitions, Journal of the American Water Resources
                                                    Association 53(5), 1095-1120,
                                                    <a href="http://dx.doi.org/10.1111/1752-1688.12557">http://dx.doi.org/10.1111/1752-1688.12557</a>.
                                                </p>

                                                <div><strong>Jones, A.S., J.S. Horsburgh, D. Jackson-Smith, M. Ramirez, C.G. Flint, J. Caraballo (2016).</strong></div>
                                                <p>
                                                    A web-based, interactive visualization tool for social environmental
                                                    survey data, Environmental Modelling & Software 84, 412-426,
                                                    <a href="https://doi.org/10.1016/j.envsoft.2016.07.013">https://doi.org/10.1016/j.envsoft.2016.07.013</a>.
                                                </p>

                                                <div><strong>Horsburgh, J.S., A.S. Jones, M. Ramirez, Caraballo, J.
                                                    (2016)</strong></div>
                                                <p class="indent">
                                                    Time Series Analyst: Interactive online visualization of environmental
                                                    time series data, In Sauvage, S., Sanchez-Perez, J.M., Rizzoli, A.
                                                    (Eds.), Proceedings of the 8th International Congress on Environmental
                                                    Modeling and Software, July 11-15, Toulouse France. Available at:
                                                    <a href="http://scholarsarchive.byu.edu/iemssconference/2016/Stream-A/12/">http://scholarsarchive.byu.edu/iemssconference/2016/Stream-A/12/</a>
                                                </p>
                                                <div><strong>Buahin, C.A. and Horsburgh, J.S. (2016)</strong></div>
                                                <p class="indent">
                                                    From OpenMI to HydroCouple: Advancing OpenMI to Support Experimental
                                                    Simulations and Standard Geospatial Datasets, In Sauvage, S.,
                                                    Sanchez-Perez, J.M., Rizzoli, A. (Eds.), Proceedings of the 8th
                                                    International Congress on Environmental Modeling and Software, July
                                                    11-15, Toulouse France. Available at:
                                                    <a href="http://scholarsarchive.byu.edu/iemssconference/2016/Stream-A/11/">http://scholarsarchive.byu.edu/iemssconference/2016/Stream-A/11/</a>
                                                </p>
                                                <div><strong>Jones, A.S., Horsburgh, J.S., Jackson-Smith, D., Ramirez, M.,
                                                    Flint, C., and J. Caraballo (2016)</strong></div>
                                                <p class="indent">
                                                    A Web-based, interactive visualization tool for social environmental
                                                    survey data, Environmental Modelling & Software, 84, 412-426, http://dx.doi.org/10.1016/j.envsoft.2016.07.013
                                                </p>
                                                <div><strong>Buahin, C. A. and J.S. Horsburgh (2015)</strong></div>
                                                <p class="indent">
                                                    Evaluating the simulation times and mass balance errors of
                                                    component-based models: An application of OpenMI 2.0 to an urban
                                                    stormwater system, Environmental Modelling & Software, 72, 92-109,
                                                    doi:10.1016/j.envsoft.2015.07.003.
                                                </p>
                                                <div><strong>Jones, A.S., J. S. Horsburgh, S.L. Reeder, M. Ramirez, J.
                                                    Caraballo (2015)</strong></div>
                                                <p class="indent">
                                                    A data management and publication workflow for a large-scale,
                                                    heterogeneous sensor network, Environmental Monitoring and Assessment,
                                                    187:348, doi:10.1007/s10661-015-4594-3.
                                                </p>
                                                <div><strong>Horsburgh, J. S., S. L. Reeder, A. S. Jones, J. Meline
                                                    (2015)</strong></div>
                                                <p class="indent">
                                                    Open source software for visualization and quality control of continuous
                                                    hydrologic and water quality sensor data, Environmental Modelling &
                                                    Software, 70, 32-44, doi:10.1016/j.envsoft.2015.04.002.
                                                </p>
                                                <div><strong>Horsburgh, J. S., A. S. Jones, S. Reeder (2014)</strong></div>
                                                <p class="indent">
                                                    ODM Tools Python: Open source software for managing continuous sensor
                                                    data, In: Proceedings of the 11th International Conference on
                                                    Hydroinformatics, 17-21 August, New York City, NY.
                                                </p>
                                                <div><strong>Horsburgh, J. S., A. S. Jones, S. Reeder (2014)</strong></div>
                                                <p class="indent">
                                                    Automating data management and sharing within a large-scale,
                                                    heterogeneous sensor network, In: Ames, D.P., Quinn, N.W.T., Rizzoli,
                                                    A.E. (Eds.), Proceedings of the 7th International Congress on
                                                    Environmental Modelling and Software, June 15-19, San Diego, California,
                                                    USA. ISBN: 978-88-9035-744-2.
                                                </p>
                                            </div>

                                            <div>
                                                <h2>Presentations at Professional Meetings</h2>


                                                <div><strong>Jones, A.S., J.S. Horsburgh, D. Eiriksson (2017).</strong></div>
                                                <p class="indent">
                                                    Assessing Subjectivity in Sensor Data Post Processing via a Controlled Experiment, Abstract IN41C-0050. Presented at: American Geophysical Union Fall Meeting, New Orleans LA, December 2017.

    {#                                                QCEXP_AGU_ASJ_2017_36in_12-8-2017.pdf#}
                                                </p>

                                                <div><strong>Eiriksson, D., A.S. Jones, J.S. Horsburgh, C. Cox, D. Dastrup (2017).</strong></div>
                                                <p class="indent">
                                                    Data Quality Control: Challenges, Methods, and Solutions from an Eco-Hydrologic Instrumentation Network, Abstract IN41C-0056. Presented at: American Geophysical Union Fall Meeting, New Orleans LA, December 2017.
                                                </p>

                                                <div><strong>Jones, A.S., Horsburgh, J.S. (2017).</strong></div>
                                                <p class="indent">
                                                    Cyberinfrastructure to support large scale, collaborative water research in Utah: critical outcomes from the iUTAH project. Presented at the Salt Lake County Watershed Symposium, Salt Lake City, UT, November 2017.

    {#                                                CriticalOutcomesLastingimpact_Jones_20171115.pdf#}
                                                </p>

                                                <div><strong>Horsburgh, J. S. (2017).</strong></div>
                                                <p class="indent">
                                                    Cyberinfrastructure for Water Data: Perspectives from iUTAH’s Data-Intensive Water Research (Invited), presented at the 45th Annual Utah Section Water Resources Conference, Data for Water Management, American Water Resources Association, Salt Lake City, UT, May 2017.

    {#                                                JSH_2017_AWRA_CI_for_Water_Data_5-16-2017.pptx#}
                                                </p>

                                                <div><strong>Jones, A.S. (2017).</strong></div>
                                                <p class="indent">
                                                    Monitoring, Cyberinfrastructure, and Data Access within the Logan River Watershed. Presented at the Bear River Commission Water Quality Committee Biannual Meeting, Salt Lake City, UT, April 2017.

    {#                                                iUTAH Bear River Commission April 2017.pptx#}
                                                </p>

                                                <div><strong>Jones, A.S., Horsburgh, J. S., Flint, C. (2016). </strong></div>
                                                <p class="indent">
                                                    Social Water Science Data: Dimensions, Data Management, and Visualization, Abstract H34F-03. Presented at the 2016 AGU Fall Meeting, San Francisco, CA, December 2016.

    {#                                                AGU_2016_ASJ.pptx#}
                                                </p>

                                                <div><strong>Horsburgh, J. S., Jones, A.S (2016). </strong></div>
                                                <p class="indent">
                                                    HydroShare for iUTAH: Collaborative Publication, Interoperability, and Reuse of Hydrologic Data and Models for a Large, Interdisciplinary Water Research Project, Abstract H43P-03. Presented at the 2016 AGU Fall Meeting, San Francisco, CA, December 2016.

    {#                                                Horsburgh_2016_AGU_HydroShare.pptx#}
                                                </p>

                                                <div><strong>Jones, A.S., J.S. Horsburgh (2016)</strong></div>
                                                <p class="indent">Water Quality Surrogates: Development of Surrogate Relationships, Review of Recent Advances, and Applications, Presented at: National NonPoint Source Workshop. Salt Lake City, UT. 24 August.<br/> <a
                                                            href="{% static 'mdfserver/documents/NPS_SurrogateMeasures_ASJ.pptx' %}"
                                                            target="_blank">NPS_SurrogateMeasures_ASJ.pptx</a>
                                                </p>
                                                <div><strong>Jones, A.S., J.S. Horsburgh, S.L. Reeder, J. Caraballo, D.
                                                    Smith, Z. Yoshikawa, M. Matos (2016)</strong></div>
                                                <p class="indent">Streaming Sensor Data: Tools for acquisition, management,
                                                    and visualization, Presented at: National Water Quality Monitoring
                                                    Council 10th National Monitoring Conference. Tampa, FL. 5 May.<br/> <a
                                                            href="{% static 'mdfserver/documents/NWQMC_2016_ASJ_Jones_I1.pptx' %}"
                                                            target="_blank">NWQMC_2016_ASJ_Jones_I1.pptx</a>
                                                </p>
                                                <div><strong>Horsburgh, J.S., et al (2014)</strong></div>
                                                <p class="indent">Information Requirements for Integrating Spatially
                                                    Discrete, Feature-Based Earth Observations, Presented at: American
                                                    Geophysical Union Fall Meeting, San Francisco CA, December 2014.<br/> <a
                                                            href="{% static 'mdfserver/documents/2014_JSH_AGU_ODM2_12-17-2014.pptx' %}"
                                                            target="_blank">2014_JSH_AGU_ODM2_12-17-2014.pptx</a></p>
                                                <div><strong>Horsburgh, J.S., S.L. Reeder, A.S. Jones (2014)</strong></div>
                                                <p class="indent">ODM Tools Python: Open Source Software for Managing
                                                    Continuous Sensor Data, Presented at: International Conference on
                                                    Hydroinformatics, New York City NY, August 2014.<br/> <a
                                                            href="{% static 'mdfserver/documents/Horsburgh_HIC_2014_8-17-2014.pptx' %}"
                                                            target="_blank">Horsburgh_HIC_2014_8-17-2014.pptx</a></p>
                                                <div><strong>Jones, A.S., J.S. Horsburgh (2014)</strong></div>
                                                <p class="indent">Cyberinfrastructure for Data Management and Sharing within
                                                    a Large-scale, Heterogeneous Sensor Network, Presented at: Mountain
                                                    Observatories Global Fair and Workshop, Reno NV, July 2014<br/> <a
                                                            href="{% static 'mdfserver/documents/MountainObservatories2014_ASJ.pdf' %}"
                                                            target="_blank">MountainObservatories2014_ASJ.pdf</a></p>
                                                <div><strong>Horsburgh, J.S., A.S. Jones, A.S., S.L. Reeder (2014)</strong>
                                                </div>
                                                <p class="indent">Automating Data Management and Sharing within a
                                                    Large-Scale, Heterogeneous Sensor Network, Presented at: International
                                                    Environmental Modelling and Software Symposium, San Diego CA, June 2014.<br/>
                                                    <a href="{% static 'mdfserver/documents/Horsburgh_iEMS_AutomatingDataManagement_iUTAH.pdf' %}"
                                                       target="_blank">Horsburgh_iEMS_AutomatingDataManagement_iUTAH.pdf</a>
                                                </p>
                                                <div><strong>Horsburgh, J.S., S. Reeder, J. Patton, A.S. Jones
                                                    (2014)</strong></div>
                                                <p class="indent">ODM Tools Python: Open Source Software for Managing
                                                    Hydrologic and Water Quality Time Series Data, Presented at: National
                                                    Water Quality Monitoring Conference, Cincinnati, OH, April 2014. <br/>
                                                    <a href="{% static 'mdfserver/documents/JSH_NWQMC_ODMTools_4-7-2014.pdf' %}"
                                                       target="_blank">JSH_NWQMC_ODMTools_4-7-2014.pdf</a></p>
                                                <div><strong>Jones, A.S., J.S. Horsburgh, S. Reeder (2014)</strong></div>
                                                <p class="indent">Implementation of a workflow for streaming sensor data for
                                                    a large-scale hydrologic monitoring network, Presented at: Utah State
                                                    University Spring Runoff Conference, Logan, UT, April 2014. <br/> <a
                                                            href="{% static 'mdfserver/documents/GAMUTWorkflowImplementation_SpringRunoff_ASJ.pdf' %}"
                                                            target="_blank">GAMUTWorkflowImplementation_SpringRunoff_ASJ.pdf</a>
                                                </p>
                                                <div><strong>Horsburgh, J.S., Aufdenkampe, K., Lehnert, K., Mayorga, E.,
                                                    Tarboton, D., Zaslavsky, I., Valentine D. (2013)</strong></div>
                                                <p class="indent">ODM2: Developing a community information model and
                                                    supporting software to extend interoperability of sensor and sample
                                                    based earth observations, Presented at: CUAHSI Conference on
                                                    Hydroinformatics and Modeling, Logan, UT, July 2013. <br/> <a
                                                            href="{% static 'mdfserver/documents/2013_CUAHSI_Hydroinformatics_ODM2_7-15-2013.pdf' %}"
                                                            target="_blank">2013_CUAHSI_Hydroinformatics_ODM2_7-15-2013.pdf</a>
                                                </p>
                                                <div><strong>Horsburgh, J.S., A.S. Jones, S. Reeder, J. Patton, J.
                                                    Caraballo, M. Ramirez, N. Mouzon (2013)</strong></div>
                                                <p class="indent">Using CUAHSI HIS to support large scale collaborative
                                                    research in Utah, CUAHSI HIS Cyberseminar, 5/1/2013. <br/> <a
                                                            href="{% static 'mdfserver/documents/JSH_CUAHSI_HIS_Webinar_5-1-2013.pdf' %}"
                                                            target="_blank">JSH_CUAHSI_HIS_Webinar_5-1-2013.pdf</a></p>
                                                <div><strong>Horsburgh, J.S., A.S. Jones, J. Caraballo (2013)</strong></div>
                                                <p class="indent">Cyberinfrastructure to support large scale collaborative
                                                    water research, Presented at: Utah State University Spring Runoff
                                                    Conference, Logan, UT, April, 2013. <br/> <a
                                                            href="{% static 'mdfserver/documents/iUTAH_CI_Spring_Runoff_JSH_4-10-2013.pdf' %}"
                                                            target="_blank">iUTAH_CI_Spring_Runoff_JSH_4-10-2013.pdf</a></p>
                                                <div><strong>Jones, A.S., J.S. Horsburgh, S. Reeder, J. Patton
                                                    (2013)</strong></div>
                                                <p class="indent">iUTAH Cyberinfrastructure to support data collection and
                                                    management for the GAMUT monitoring network, Presented at: Utah State
                                                    University Spring Runoff Conference, Logan, UT, April 2013. <br/> <a
                                                            href="{% static 'mdfserver/documents/SpringRunoff2013_ASJ.pdf' %}"
                                                            target="_blank">SpringRunoff2013_ASJ.pdf</a></p>
                                            </div>



                                            <div>

                                                <h2>Presentations at iUTAH Meetings</h2>

                                                <div><strong> Horsburgh, J.S., A.S. Jones. (2017)</strong></div>
                                                <p class="indent">
                                                    Cyberinfrastructure to Support Large Scale, Collaborative Water Research in Utah: Critical Outcomes from the iUTAH Project. Presented at iUTAH Summer Symposium, Logan, UT, July 2017.

    {#                                                JSH_iUTAH_Symposium_7-13-2017.pptx#}
                                                </p>

                                                <div><strong>Jones, A.S., J.S. Horsburgh, C.G. Flint, D. Jackson-Smith (2017)</strong></div>
                                                <p class="indent">
                                                    Social Water Science Data in iUTAH: Dimensions, Data Management, and Visualization. Presented at iUTAH Summer Symposium, Logan, UT, July 2017.

    {#                                                iUTAHSymposium_2017_ASJ.pptx#}
                                                </p>

                                                <div><strong>Horsburgh, J.S., A.S. Jones (2016)</strong></div>
                                                <p class="indent">Cyberinfrastructure: Promoting Collaborative Publication interoperability, and Reuse of iUTAH Data and Research Products. Presented at iUTAH Fall All Hands Meeting, Provo UT, November 2016.<br/>
                                                    <a
                                                            href="{% static 'mdfserver/documents/2016_iUTAH_Fall_AHM_CI_and_HydroShare.pptx' %}"
                                                            target="_blank">2016_iUTAH_Fall_AHM_CI_and_HydroShare.pptx</a>

                                                <div><strong>Jones, A.S. (2016)</strong></div>
                                                <p class="indent">GAMUT: The Final Frontier. Presented at iUTAH Fall All Hands Meeting, Provo UT, November 2016.<br/>
                                                    <a
                                                            href="{% static 'mdfserver/documents/iUTAH_GAMUT_AHM_Fall_2016.pptx' %}"
                                                            target="_blank">iUTAH_GAMUT_AHM_Fall_2016.pptx</a>
                                                <div><strong>Horsburgh, J.S., A.S. Jones, A. Castronova (2016)</strong>
                                                </div>
                                                <p class="indent">Hydroinformatics and Cyberinfrastructure: Innovative
                                                    Management, Integration, and Visualization for iUTAH’s Data Products and
                                                    Resources, Presented at iUTAH American Association for the Advancement
                                                    of Science External Review Meeting, Salt Lake City UT, March 2016.<br/>
                                                    <a
                                                            href="{% static 'mdfserver/documents/iUTAH_CI_AAAS_3-7-2016.pptx' %}"
                                                            target="_blank">iUTAH_CI_AAAS_3-7-2016.pptx</a>
                                                <div><strong>Jones, A.S., J.S. Horsburgh, A. Castronova (2015)</strong>
                                                </div>
                                                <p class="indent">Cyberinfrastructure Year 3, Presented at: iUTAH External
                                                    Advisory Board Meeting, Midway UT, July 2015.<br/> <a
                                                            href="{% static 'mdfserver/documents/iUTAH_CI_EAB_6-29-2015.pptx' %}"
                                                            target="_blank">iUTAH_CI_EAB_6-29-2015.pptx</a>
                                                <div><strong>Jones, A.S. and J.S. Horsburgh (2015)</strong></div>
                                                <p class="indent">Data Data Management Update, Presented at iUTAH Summer All
                                                    Hands Meeting, Midway UT, July 2015.<br/> <a
                                                            href="{% static 'mdfserver/documents/iUTAHSummerSymposium_2015.pdf' %}"
                                                            target="_blank">iUTAHSummerSymposium_2015.pdf</a>
                                                <div><strong>Jones, A.S. and Horsburgh, J.S. (2014)</strong></div>
                                                <p class="indent">Cyberinfrastructure for iUTAH RFA1: GAMUT Data Access and
                                                    Beyond, Presented at: iUTAH Research Focus Area 1 Cyber Seminar Series,
                                                    Online, December 2014. <br/> <a
                                                            href="{% static 'mdfserver/documents/iUTAH_RFA1_12-12-2014_ASJ.pdf' %}"
                                                            target="_blank">iUTAH_RFA1_12-12-2014_ASJ.pdf</a>

                                                <div><strong>Jones, A.S., Horsburgh, J.S., Castronova, A. (2014)</strong>
                                                </div>
                                                <p class="indent">Cyberinfrastructure Update. Presented at: iUTAH Fall All
                                                    Hands Meeting, Salt Lake City UT, November 2014.<br/> <a
                                                            href="{% static 'mdfserver/documents/iUTAH_AHM_11-21-2014_ASJ.pdf' %}"
                                                            target="_blank">iUTAH_AHM_11-21-2014_ASJ.pdf</a></p>

                                                <div><strong>Horsburgh, J.S., Jones, A.S., Castronova, A. (2014)</strong>
                                                </div>
                                                <p class="indent">Cyberinfrastructure Year 2 Advances. Presented at: iUTAH
                                                    Symposium and All Hands Meeting, Logan UT, July 2014.<br/> <a
                                                            href="{% static 'mdfserver/documents/iUTAH_CI_Symposium_7-11-2014.pdf' %}"
                                                            target="_blank">iUTAH_CI_Symposium_7-11-2014.pdf</a></p>
                                            </div>

                                            <div class="">
                                                <h2>Posters</h2>
                                                <div><strong>Suiter, P.J., Jones, A.S., J.S. Horsburgh, Mihalevich, B.,
                                                    Melcher, T. (2016)</strong></div>
                                                <p class="indent">Development of a mobile water quality monitoring platform,
                                                    presented at the 2016 Utah State University Spring Runoff Conference,
                                                    Logan, UT, 7-8 April<br/> <a
                                                            href="{% static 'mdfserver/documents/SpringRunoff_MobilePlatform_PJS.pdf' %}"
                                                            target="_blank">SpringRunoff_MobilePlatform_PJS.pdf</a></p>
                                                <div><strong>Jones, A.S., J.S. Horsburgh, M. Matos, J. Caraballo
                                                    (2015)</strong></div>
                                                <p class="indent">Equipment management for sensor networks: Linking physical
                                                    infrastructure and actions to observational data, Abstract IN11D-1793
                                                    presented at the 2015 AGU Fall Meeting, San Francisco, CA, 14-18
                                                    December.<br/> <a
                                                            href="{% static 'mdfserver/documents/EquipmentManagement_AGU_ASJ_2015.pdf' %}"
                                                            target="_blank">EquipmentManagement_AGU_ASJ_2015.pdf</a></p>
                                                <div><strong>Jones, A.S. and J.S. Horsburgh, J.S. (2014)</strong></div>
                                                <p class="indent">Implementation of Cyberinfrastructure and Data Management
                                                    Workflow for a Large-Scale Sensor Network. Presented at: American
                                                    Geophysical Union Fall Meeting, San Francisco CA, December 2014.<br/> <a
                                                            href="{% static 'mdfserver/documents/SensorWorkflow_AGU_ASJ_2014.pdf' %}"
                                                            target="_blank">SensorWorkflow_AGU_ASJ_2014.pdf</a></p>
                                                <div><strong>Castronova, A., A.S. Jones, J.S. Horsburgh (2014)</strong>
                                                </div>
                                                <p class="indent">A Relational Model for Simulation Data to Promote
                                                    Interdisciplinary Collaboration. Presented at: American Geophysical
                                                    Union Fall Meeting, San Francisco CA, December 2014.<br/> <a
                                                            href="{% static 'mdfserver/documents/Relational_Model_For_Simulation_Data_2014.pdf' %}"
                                                            target="_blank">Relational_Model_For_Simulation_Data_2014.pdf</a>
                                                </p>
                                                <div><strong>Jones, A.S., J.S. Horsburgh, S. Reeder, J. Meline
                                                    (2014)</strong>
                                                </div>
                                                <p class="indent">ODM Tools Python: Open Source Software for Managing
                                                    Environmental Sensor Data, Presented at: CUAHSI Field Data Solutions
                                                    Virual Poster Session, Online, October 2014. <br/><a
                                                            href="{% static 'mdfserver/documents/CUAHSI_FieldDataSolutionsPoster_ASJ.pdf' %}"
                                                            target="_blank">CUAHSI_FieldDataSolutionsPoster_ASJ.pdf</a></p>
                                                <div><strong>Jones, A.S., J.S. Horsburgh, J. Caraballo, M. Ramirez
                                                    (2014)</strong></div>
                                                <p class="indent">Managing Monitoring Infrastructure: A Sensor Extension for
                                                    the Observations Data Model, Presented at: National Water Quality
                                                    Monitoring Conference, Cincinnati, OH, April 2014. <br/> <a
                                                            href="{% static 'mdfserver/documents/SensorsExtensionPoster_NMC_ASJ.pdf' %}"
                                                            target="_blank">SensorsExtensionPoster_NMC_ASJ.pdf</a></p>
                                                <div><strong>Jones, A.S., J.S. Horsburgh, J. Caraballo, M. Ramirez
                                                    (2013)</strong></div>
                                                <p class="indent">Managing sensor infrastructure using a sensor extension
                                                    for the ODM2 data model, Presented at: CUAHSI Conference on
                                                    Hydroinformatics and Modeling, Logan, UT, July 2013. <br/> <a
                                                            href="{% static 'mdfserver/documents/SensorsExtensionPoster.pdf' %}"
                                                            target="_blank">SensorsExtensionPoster.pdf</a></p>
                                                <div><strong>Horsburgh, J.S., S. Reeder, J. Patton, A.S. Jones,
                                                    (2013)</strong></div>
                                                <p class="indent">ODM Tools Python: Data management software for hydrologic
                                                    time series, Presented at: CUAHSI Conference on Hydroinformatics and
                                                    Modeling, Logan, UT, July 2013. <br/> <a
                                                            href="{% static 'mdfserver/documents/ODMToolsPython_Poster.pdf' %}"
                                                            target="_blank">ODMToolsPython_Poster.pdf</a></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}