{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Training Materials{% endblock %}
{% block about_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <h1>Personnel</h1>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-2" class="node node-page clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <p>The iUTAH Cyberinfrastructure team is led by <a
                                                    href="http://jeffh.usu.edu/">Jeff Horsburgh</a> at Utah State
                                                University and <a
                                                        href="http://faculty.utah.edu/u0462739-STEVEN_CORBATO/contact/index.hml">Steve
                                                    Corbato</a> at the University of Utah. Jeff is an Assistant
                                                Professor in Civil and Environmental Engineering at Utah State
                                                University, and Steve is the Director of Cyberinfrastructure (CI)
                                                Strategic Initiatives within the Office of Information Technology at the
                                                University of Utah.</p>
                                            <p>We are committed to facilitating data access and collaboration for iUTAH
                                                researchers and the broader Utah water resources community. We
                                                appreciate any feedback from potential users of iUTAH data products.
                                                Please contact us with comments, questions, or concerns.</p>
                                            <div class="contacts-box">
                                                <span class="contact-info"> <br>
                                                    <strong>Jeff Horsburgh</strong><br>
                                                     Utah State University <br>
                                                    <a href="mailto:jeff.horsburgh@usu.edu">jeff.horsburgh@usu.edu</a> <br>
                                                </span>
                                                <span class="contact-info"> <br/>
                                                    <strong>Amber Jones</strong> <br/>
                                                     Utah State University <br/>
                                                    <a href="mailto:amber.jones@usu.edu">amber.jones@usu.edu</a> <br/>
                                                </span>
                                                <span class="contact-info"> <br/>
                                                    <strong>Tony Castronova</strong><br/>
                                                     Utah State University <br/>
                                                    <a href="mailto:tony.castronova@usu.edu">tony.castronova@usu.edu</a>
                                                </span>
                                            </div>
                                            <p><strong>Tony Castronova</strong> is a Research Assistant Professor in
                                                Civil and Environmental Engineering and at the Utah Water Research
                                                Laboratory at Utah State University. Tony&rsquo;s work is focused on
                                                implementing and integrating hydrologic models. He has experience with
                                                the development and implementation of web services and has worked in the
                                                context of the CUAHSI Hydrologic Information System. He is currently
                                                working on a data-centric approach to model integration for iUTAH.</p>
                                            <p><strong>Amber Jones</strong> is the iUTAH data manager. Amber is a
                                                Research Engineer at the Utah Water Research Laboratory at Utah State
                                                University and has a Master's degree in Civil and Environmental
                                                Engineering. Amber has worked over the past several years in maintaining
                                                the sensors and streaming datasets from the Little Bear River watershed.
                                                She also has experience in geographic information systems (GIS) and data
                                                visualization and analysis in R and other software programs.</p>
                                            <p><strong>Stephanie Reeder</strong> is a professional programmer/analyst at
                                                the Utah Water Research Laboratory at Utah State University. She has a
                                                bachelors degree in Computer Science. Stephanie has worked for the past
                                                couple of years on development of hydrologic information systems and
                                                data management software in support of the CUAHSI Hydrologic Information
                                                System and other projects. She is currently working on Python-based
                                                software related to visualization and quality control of continuous
                                                sensor data.</p>
                                            <p><strong>Pabitra Dash</strong> is a software engineer at the Utah Water
                                                Research Laboratory at Utah State University. Pabitra is working on
                                                Hydroshare, a web-based platform for storing and sharing of hydrologic
                                                data and is also contributing to iUTAH. He has helped developed the
                                                iUTAH Data Publication System for searching, sharing, and publishing
                                                datasets and resources.</p>
                                            <p><strong>Caleb Buahin</strong> is a PhD student working with the iUTAH
                                                Cyberinfrastructure Team and Research Focus Area 3. Caleb has a Master&rsquo;s
                                                degree in Civil and Environmental Engineering and experience in
                                                hydrologic and water quality modeling. Caleb is investigating technical
                                                approaches for coupling models and model components to form integrated
                                                models that will be used by iUTAH researchers to more holistically
                                                represent hydrologic systems in the area.</p>
                                            <p><strong>Juan Carballo</strong> is an undergraduate student in Computer
                                                Science at Utah State University. Juan is working on development of web
                                                applications that will enable iUTAH research teams to more easily
                                                collaborate in sharing and managing data.</p>
                                            <p><strong>Maurier Ram&iacute;rez</strong> is an undergraduate student in
                                                Computer Science at Utah State University. Maurier is working on the
                                                development of web applications for visualizing time series data and a
                                                web application and database for the management of physical monitoring
                                                infrastructure.</p>
                                            <p><strong>Mario Matos</strong> is an undergraduate student in Computer
                                                Science at Utah State University. Mario is currently working on the main
                                                iUTAH Modeling and Data Federation website and development of dynamic
                                                content pages for accessing iUTAH continuous sensor data.</p>
                                            <p><strong>Jacob Meline</strong> is an undergraduate student in Computer
                                                Science at Utah State University. Jacob is working on the development of
                                                Python-based software for loading, accessing, and post processing
                                                continuous sensor data in ODM databases.</p>
                                            <p><strong>Matt Lorimer</strong> is working in partnership with the iUTAH
                                                Cyberinfrastructure Team in the implementation of the hardware and
                                                server environments for hosting the iUTAH Modeling and Data Federation.
                                                Matt is a full time System Administrator with Utah State University's
                                                Information Technology group and is an expert in hardware and software
                                                systems for virtualization.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}