{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Training Materials{% endblock %}
{% block about_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <div class="page-header">
                <h1 class="text-center">Personnel</h1>
                <h3>
                    The iUTAH Cyberinfrastructure Team worked to facilitate data access and
                    collaboration for iUTAH researchers and the broader Utah water resources
                    community. Though the iUTAH project has ended, we appreciate any feedback
                    from users of iUTAH data products.
                </h3>
            </div>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-2" class="node node-page clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <p>
                                                <strong>Jeff Horsburgh</strong> led the iUTAH CI Team. Jeff is an Assistant Professor in Civil and Environmental Engineering at Utah State University.
                                            </p>
                                            <p>
                                                <strong>Amber Jones</strong> worked as the iUTAH data manager. Amber is a Research Engineer at the Utah Water Research Laboratory at Utah State University. Amber worked to implement the sensor data workflow for the GAMUT data, implement solutions for sharing iUTAH social science data, design and test software, and implement the iUTAH Data Policy.
                                            </p>
                                            <p>
                                                <strong>Tony Castronova</strong> worked as a Research Assistant Professor in Civil and Environmental Engineering and at the Utah Water Research Laboratory at Utah State University. Tony focused on implementing and integrating hydrologic models. He now works at CUAHSI.
                                            </p>
                                            <p>
                                                <strong>Stephanie Reeder</strong> worked as a professional programmer/analyst at the Utah Water Research Laboratory at Utah State University. Stephanie led development of desktop software programs implemented for iUTAH data.
                                            </p>
                                            <p>
                                                <strong>Pabitra Dash</strong> worked as a software engineer at the Utah Water Research Laboratory at Utah State University. Pabitra’s work focused on developing web systems for describing and sharing research data and models, including HydroShare. Pabitra now works at Virginia Tech.
                                            </p>
                                            <p>
                                                <strong>Caleb Buahin</strong> obtained his PhD working with iUTAH Cyberinfrastructure and Research Focus Area 3. Caleb’s work focused on investigating technical approaches for coupling models and model components. Caleb is now a post-doc at Utah State University.
                                            </p>
                                            <p>
                                                <strong>Philip Suiter</strong> worked as a research technician with the CI Team. Phil’s work focused on data organization and management of sensor and specimen based data. Phil completed his undergraduate in Environmental Engineering and now works for the City of Ogden, Utah.
                                            </p>
                                            <p>
                                                <strong>Maurier Ramírez</strong> worked on the development of web applications for visualizing time series data, specimen based data, social science survey data, and the HydroShare platform for sharing and collaborating on research data and models. Maurier completed his undergraduate in computer science and continues to work for the Utah Water Research Laboratory.
                                            </p>
                                            <p>
                                                <strong>Juan Carballo</strong> worked on development of web applications that enabled iUTAH data products to be accessed boradly. Juan completed his undergraduate in computer science and continues to work for the Utah Water Research Laboratory.
                                            </p>
                                            <p>
                                                <strong>Matt Lorimer</strong> worked in partnership with the iUTAH CI Team in the implementation of hardware and server environments. Matt is a System Administrator with Utah State University's Information Technology group and is an expert in hardware and software systems for virtualization.
                                            </p>
                                            <p>
                                                <strong>Steve Corbato</strong> worked to support full backups of iUTAH Cyberinfrastructure at the University of Utah. Steve was the Director of the Office of Information Technology at the University of Utah. He now works at the Oregon Health and Sciences University.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
