{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Training Materials{% endblock %}
{% block about_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-24" class="node node-page clearfix">
                            <div class="content">
                                <div>
                                    <h1 style="margin: 0 0 10px -16px;">Introduction to Data Publication</h1>
                                    <div class="video-box">
                                        <video width="420" height="340" controls="controls"
                                               src="http://data.iutahepscor.org/mdf/videos/1_DataPublicationOverview.mp4">
                                            <object width="420" height="340"
                                                    data="{% static 'mdfserver/video/moxieplayer.swf' %}"
                                                    type="application/x-shockwave-flash">
                                                <param name="src"
                                                       value="{% static 'mdfserver/video/moxieplayer.swf' %}"/>
                                                <param name="flashvars"
                                                       value="url=http://data.iutahepscor.org/mdf/videos/1_DataPublicationOverview.mp4"/>
                                                <param name="allowfullscreen" value="true"/>
                                                <param name="allowscriptaccess" value="true"/>
                                            </object>
                                            Your browser doesn't support HTML5 Video. Download the video <a
                                                href="http://data.iutahepscor.org/mdf/videos/1_DataPublicationOverview.mp4">here</a>
                                        </video>
                                        <p><strong>Data Publication Overview</strong><br/>Learn about the process for
                                            data publication within iUTAH. The goal for data publication in iUTAH is to
                                            combat information entropy and increase the information content for data.
                                        </p>
                                    </div>
                                    <div class="video-box">
                                        <video width="420" height="340" controls="controls"
                                               src="http://data.iutahepscor.org/mdf/videos/2_DataCollectionPlans.mp4">
                                            <object width="420" height="340"
                                                    data="{% static 'mdfserver/video/moxieplayer.swf' %}"
                                                    type="application/x-shockwave-flash">
                                                <param name="src"
                                                       value="{% static 'mdfserver/video/moxieplayer.swf' %}"/>
                                                <param name="flashvars"
                                                       value="url=http://data.iutahepscor.org/mdf/videos/2_DataCollectionPlans.mp4"/>
                                                <param name="allowfullscreen" value="true"/>
                                                <param name="allowscriptaccess" value="true"/>
                                            </object>
                                            Your browser doesn't support HTML5 Video. Download the video <a
                                                href="http://data.iutahepscor.org/mdf/videos/2_DataCollectionPlans.mp4">here</a>
                                        </video>
                                        <p><strong>Data Collection Plans</strong><br/>This tutorial focuses on Data
                                            Collection Plans. Data collection plans are the first step in the data
                                            publication process. Learn about the Data Collection Plan template and how
                                            to fill it out.</p>
                                    </div>
                                </div>


                                <div>
                                    <h1 style="margin: 0 0 10px -16px;">HydroShare for Data and Model Sharing and
                                        Publication</h1>
                                    <div class="video-box">
                                        <video width="420" height="340" controls="controls"
                                               src="http://data.iutahepscor.org/mdf/videos/HydroShare_Create.mp4">
                                            <object width="420" height="340"
                                                    data="{% static 'mdfserver/video/moxieplayer.swf' %}"
                                                    type="application/x-shockwave-flash">
                                                <param name="src"
                                                       value="{% static 'mdfserver/video/moxieplayer.swf' %}"/>
                                                <param name="flashvars"
                                                       value="url=http://data.iutahepscor.org/mdf/videos/HydroShare_Create.mp4"/>
                                                <param name="allowfullscreen" value="true"/>
                                                <param name="allowscriptaccess" value="true"/>
                                            </object>
                                            Your browser doesn't support HTML5 Video. Download the video <a
                                                href="http://data.iutahepscor.org/mdf/videos/HydroShare_Create.mp4">here</a>
                                        </video>
                                        <p><strong>Getting Started and Creating a Resource in HydroShare</strong><br/>
                                            HydroShare is repository for sharing, collaborating
                                            around, and formally publishing scientific data. Data and models are
                                            organized as resources.
                                        </p>
                                    </div>
                                    <div class="video-box">
                                        <video width="420" height="340" controls="controls"
                                               src="http://data.iutahepscor.org/mdf/videos/HydroShare_SharePublish.mp4">
                                            <object width="420" height="340"
                                                    data="{% static 'mdfserver/video/moxieplayer.swf' %}"
                                                    type="application/x-shockwave-flash">
                                                <param name="src"
                                                       value="{% static 'mdfserver/video/moxieplayer.swf' %}"/>
                                                <param name="flashvars"
                                                       value="url=http://data.iutahepscor.org/mdf/videos/HydroShare_SharePublish.mp4"/>
                                                <param name="allowfullscreen" value="true"/>
                                                <param name="allowscriptaccess" value="true"/>
                                            </object>
                                            Your browser doesn't support HTML5 Video. Download the video <a
                                                href="http://data.iutahepscor.org/mdf/videos/HydroShare_SharePublish.mp4">here</a>
                                        </video>
                                        <p><strong>Sharing and Publishing Resources in HydroShare</strong><br/>
                                            Resources can be shared publicly or with individuals or groups with specific permissions levels.
                                            HydroShare can also be used for formal publication of data.
                                        </p>
                                    </div>
                                </div>

                                <h1 style="margin-left: -15px;">Sensor Data Management Training</h1>

                                <p>
                                    See <a href="http://iutahepscor.org/data_modeling/hydroshare_steps.shtml">this page </a>
                                    for step-by-step instructions on sharing and publishing iUTAH data and models to HydroShare.
                                </p>

                                <div><strong>GAMUT QC Workshop</strong></div>
                                <p class="indent">This folder include presenatations and documents used as part of a
                                    workshop on using ODM Tools to perform quality control post processing of GAMUT data
                                    hosted by iUTAH.on 15 May 2015.<br/> <a
                                            href="{% static 'mdfserver/documents/GAMUT_QC_Workshop.zip' %}"
                                            target="_blank">GAMUT_QC_Workshop.zip</a></p>

                                <div><strong>Jones, A.S., Reeder, S. Horsburgh, J.S. (2014)</strong></div>
                                <p class="indent">Cyberinfrastructure Tools for Managing GAMUT Data and
                                    Infrastructure, Part 3. Training for GAMUT Technicians. <br/> <a
                                            href="{% static 'mdfserver/documents/CITrainingforGAMUT_Part3.pdf' %}"
                                            target="_blank">CITrainingforGAMUT_Part3.pdf</a></p>

                                <div><strong>Jones, A.S., (2013)</strong></div>
                                <p class="indent">Cyberinfrastructure Tools for Managing GAMUT Data and
                                    Infrastructure, Part 2. Training for GAMUT Technicians. <br/> <a
                                            href="{% static 'mdfserver/documents/CITrainingforGAMUT_Part2.pdf' %}"
                                            target="_blank">CITrainingforGAMUT_Part2.pdf</a></p>

                                <div><strong>Jones, A.S., Horsburgh, J.S. (2013)</strong></div>
                                <p class="indent">Cyberinfrastructure Tools for Managing GAMUT Data and
                                    Infrastructure, Part 1. Training for GAMUT Technicians. <br/> <a
                                            href="{% static 'mdfserver/documents/CITrainingforGAMUT_Part1.pdf' %}"
                                            target="_blank">CITrainingforGAMUT_Part1.pdf</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
