{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Training Materials{% endblock %}
{% block about_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="page-header">
                        <h1 class="text-center">Training Materials</h1>
                        <h3>This page provides links to training materials that were prepared and presented by the iUTAH CI Team. Note that some material may be outdated.</h3>
                    </div>
                    <div class="content">
                        <div id="node-24" class="node node-page clearfix">
                            <div class="content">

                                {# HydroShare for Data and Model Sharing and Publication #}
                                <div>
                                    <h2 class="">HydroShare for Data and Model Sharing and Publication</h2>
                                    <span></span>
                                    <p>
                                        See <a href="http://iutahepscor.org/data_modeling/hydroshare_steps.shtml">this
                                        page </a>
                                        for step-by-step instructions on sharing and publishing iUTAH data and models to
                                        HydroShare.
                                    </p>

                                    <div class="row" style="display: flex;">
                                        <div class="video-box">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <video width="420" height="340" controls="controls"
                                                       class="embed-responsive-item"
                                                       src="http://data.iutahepscor.org/mdf/videos/HydroShare_Create.mp4">
                                                    <object width="420" height="340"
                                                            data="{% static 'mdfserver/video/moxieplayer.swf' %}"
                                                            type="application/x-shockwave-flash">
                                                        <param name="src"
                                                               value="{% static 'mdfserver/video/moxieplayer.swf' %}"/>
                                                        <param name="flashvars"
                                                               value="url=http://data.iutahepscor.org/mdf/videos/HydroShare_Create.mp4"/>
                                                        <param name="allowfullscreen" value="true"/>
                                                        <param name="allowscriptaccess" value="true"/>
                                                    </object>
                                                    Your browser doesn't support HTML5 Video. Download the video <a
                                                        href="http://data.iutahepscor.org/mdf/videos/HydroShare_Create.mp4">here</a>
                                                </video>
                                            </div>
                                            <p><strong>Getting Started and Creating a Resource in HydroShare</strong><br/>
                                                HydroShare is repository for sharing, collaborating
                                                around, and formally publishing scientific data. Data and models are
                                                organized as resources.
                                            </p>
                                        </div>

                                        <div class="video-box">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <video width="420" height="340" controls="controls"
                                                       class="embed-responsive-item"
                                                       src="http://data.iutahepscor.org/mdf/videos/HydroShare_SharePublish.mp4">
                                                    <object width="420" height="340"
                                                            data="{% static 'mdfserver/video/moxieplayer.swf' %}"
                                                            type="application/x-shockwave-flash">
                                                        <param name="src"
                                                               value="{% static 'mdfserver/video/moxieplayer.swf' %}"/>
                                                        <param name="flashvars"
                                                               value="url=http://data.iutahepscor.org/mdf/videos/HydroShare_SharePublish.mp4"/>
                                                        <param name="allowfullscreen" value="true"/>
                                                        <param name="allowscriptaccess" value="true"/>
                                                    </object>
                                                    Your browser doesn't support HTML5 Video. Download the video <a
                                                        href="http://data.iutahepscor.org/mdf/videos/HydroShare_SharePublish.mp4">here</a>
                                                </video>
                                            </div>
                                            <p><strong>Sharing and Publishing Resources in HydroShare</strong><br/>
                                                Resources can be shared publicly or with individuals or groups with specific permissions levels.
                                                HydroShare can also be used for formal publication of data.
                                            </p>
                                        </div>

                                    </div>
                                </div> {# END - HydroShare for Data and Model Sharing and Publication #}

                                {# Introduction to Data Publication #}
                                <div>
                                    <h2 class="">Introduction to Data Publication</h2>

                                    <div class="row" style="display: flex;">
                                        <div class="video-box">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <video width="420" height="340" controls="controls"
                                                       class="embed-responsive-item"
                                                       src="http://data.iutahepscor.org/mdf/videos/1_DataPublicationOverview.mp4">
                                                    <object width="420" height="340"
                                                            data="{% static 'mdfserver/video/moxieplayer.swf' %}"
                                                            type="application/x-shockwave-flash">
                                                        <param name="src"
                                                               value="{% static 'mdfserver/video/moxieplayer.swf' %}"/>
                                                        <param name="flashvars"
                                                               value="url=http://data.iutahepscor.org/mdf/videos/1_DataPublicationOverview.mp4"/>
                                                        <param name="allowfullscreen" value="true"/>
                                                        <param name="allowscriptaccess" value="true"/>
                                                    </object>
                                                    Your browser doesn't support HTML5 Video. Download the video <a
                                                        href="http://data.iutahepscor.org/mdf/videos/1_DataPublicationOverview.mp4">here</a>
                                                </video>
                                            </div>
                                            <p><strong>Data Publication Overview</strong><br/>Learn about the process for
                                                data publication within iUTAH. The goal for data publication in iUTAH is to
                                                combat information entropy and increase the information content for data.
                                            </p>
                                        </div>

                                        <div class="video-box">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <video width="420" height="340" controls="controls" class="embed-responsive-item"
                                                       src="http://data.iutahepscor.org/mdf/videos/2_DataCollectionPlans.mp4">
                                                    <object width="420" height="340"
                                                            data="{% static 'mdfserver/video/moxieplayer.swf' %}"
                                                            type="application/x-shockwave-flash">
                                                        <param name="src"
                                                               value="{% static 'mdfserver/video/moxieplayer.swf' %}"/>
                                                        <param name="flashvars"
                                                               value="url=http://data.iutahepscor.org/mdf/videos/2_DataCollectionPlans.mp4"/>
                                                        <param name="allowfullscreen" value="true"/>
                                                        <param name="allowscriptaccess" value="true"/>
                                                    </object>
                                                    Your browser doesn't support HTML5 Video. Download the video <a
                                                        href="http://data.iutahepscor.org/mdf/videos/2_DataCollectionPlans.mp4">here</a>
                                                </video>
                                            </div>
                                            <p><strong>Data Collection Plans</strong><br/>This tutorial focuses on Data
                                                Collection Plans. Data collection plans are the first step in the data
                                                publication process. Learn about the Data Collection Plan template and how
                                                to fill it out.</p>
                                        </div>
                                    </div>
                                </div> {# END - Introduction to Data Publication #}

                                {# Data Management Training #}
                                <div>
                                    <h2>Data Management Training</h2>
                                    <div><strong>Jones, A.S., J.S. Horsburgh (2017)</strong></div>
                                    <p class="indent">
                                        Simple and Effective Methods for Managing and Sharing Scientific Data.
                                        Presented at Utah State University Climate Adaptation Science Seminar.
                                        <br>
                                         <a href="{% static '' %}">ASJ_Data101_10-12-2017.pptx</a>
                                    </p>

                                    <div><strong>Horsburgh, J.S. (2017)</strong></div>
                                    <p>
                                        Simple and Effective Methods for Managing and Sharing Scientific Data. Presented at Utah State University Responsible Conduct for Researchers Research Scholars Forum.
                                        <br>
                                         <a href="{% static 'mdfserver/documents/JSH_RCR_Research_Scholars_Forum_11-3-2016.pptx' %}" target="_blank">
                                             JSH_RCR_Research_Scholars_Forum_11-3-2016.pptx</a>
                                    </p>

                                </div> {# END - Data Management Training #}


                                {# Sensor Data Management Training #}
                                <div>
                                    <h2 class="">Sensor Data Management Training</h2>

                                    <div><strong>GAMUT QC Workshop</strong></div>
                                    <p class="indent">This folder includes presenatations and documents used as part of a
                                        workshop on using ODM Tools to perform quality control post processing of GAMUT data
                                        hosted by iUTAH.on 15 May 2015.<br/> <a
                                                href="{% static 'mdfserver/documents/GAMUT_QC_Workshop.zip' %}"
                                                target="_blank">GAMUT_QC_Workshop.zip</a></p>

                                    <div><strong>Jones, A.S., Reeder, S. Horsburgh, J.S. (2014)</strong></div>
                                    <p class="indent">Cyberinfrastructure Tools for Managing GAMUT Data and
                                        Infrastructure, Part 3. Training for GAMUT Technicians. <br/> <a
                                                href="{% static 'mdfserver/documents/CITrainingforGAMUT_Part3.pdf' %}"
                                                target="_blank">CITrainingforGAMUT_Part3.pdf</a></p>

                                    <div><strong>Jones, A.S., (2013)</strong></div>
                                    <p class="indent">Cyberinfrastructure Tools for Managing GAMUT Data and
                                        Infrastructure, Part 2. Training for GAMUT Technicians. <br/> <a
                                                href="{% static 'mdfserver/documents/CITrainingforGAMUT_Part2.pdf' %}"
                                                target="_blank">CITrainingforGAMUT_Part2.pdf</a></p>

                                    <div><strong>Jones, A.S., Horsburgh, J.S. (2013)</strong></div>
                                    <p class="indent">Cyberinfrastructure Tools for Managing GAMUT Data and
                                        Infrastructure, Part 1. Training for GAMUT Technicians. <br/> <a
                                                href="{% static 'mdfserver/documents/CITrainingforGAMUT_Part1.pdf' %}"
                                                target="_blank">CITrainingforGAMUT_Part1.pdf</a></p>
                                </div>{# END - Sensor Data Management Training #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
