{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Gamut Network Overview{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <h1 style="margin-bottom: -25px;">
                The GAMUT Network - <a style="font-size: 18px; position: relative; top: -3px; left: -1px;" href="{% static 'mdfserver/documents/GAMUTFactSheet.pdf' %}">GAMUT Fact Sheet</a>
            </h1>
            <br/>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-15" class="node node-page clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <span>Gradients Along Mountain to Urban Transitions</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideIMG"><img src="{% static 'mdfserver/images/data/gamut_map.jpg' %}" alt="iUTAH Modeling Sites"/></div>
            <h2>GAMUT Background</h2>
            <p>iUTAH researchers have developed and deployed an ecohydrologic observatory to study water in &lsquo;Gradients
                Along Mountain to Urban Transitions&rsquo; (GAMUT). The GAMUT Network measures aspects of climate,
                hydrology, and water quality along a mountain-to-urban gradient in three watersheds that share common
                water sources (winter-derived precipitation) but differ in the human and biophysical nature of land-use
                transitions. Designing GAMUT was a 12-month process involving faculty and technicians from across Utah&rsquo;s
                research-intensive institutions: Brigham Young University, the University of Utah, and Utah State
                University.</p>
            <h2>GAMUT Watersheds</h2>
            <p>There are three watersheds with sites in the GAMUT Network. Click on the links to preview data and learn
                more about each watershed.</p>
            <ul class="gamut_list">
                <li><a href="/mdf/Data/Logan_River/">The Logan River</a></li>
                <li><a href="/mdf/Data/Red_Butte/">Red Butte Creek</a></li>
                <li><a href="/mdf/Data/Provo_River/">The Provo River</a></li>
            </ul>
            <h2>GAMUT Monitoring Sites</h2>
            <p>GAMUT includes state-of-the-art sensors at aquatic and terrestrial sites for real-time monitoring of
                common meteorological variables, snow accumulation and melt, soil moisture, surface water flow, and
                surface water quality. These figures show a typical GAMUT climate site and a typical GAMUT water quality
                site.</p>
            <div class="sideIMGR">
                <img src="{% static 'mdfserver/images/data/gamut_aquatic.jpg' %}" alt="GAMUT Aquatic"/>
                <img src="{% static 'mdfserver/images/data/gamut_climate.jpg' %}" alt="GAMUT Climate"/>
            </div>

            <h2>Cyberinfrastructure</h2>
            <p>The collection and dissemination of data from the GAMUT Network is supported by various
                cyberinfrastructure applications illustrated by this <a
                        href="{% static 'mdfserver/documents/GAMUTDataFlow.pdf' %}">workflow</a>. This allows iUTAH&rsquo;s
                research teams to interact with the data to better understand Utah&rsquo;s water cycle. Access to
                real-time sensor data from the GAMUT network is available to researchers, educators, and other
                stakeholders via <a href="/tsa/">online visualization</a>.</p>
            <div class="afterText">
                <div class="imgWrapper">
                    <img src="{% static 'mdfserver/images/data/tsa_map.jpg' %}" alt="Time Series Analyst - Map View"/>
                </div>
                <div class="imgWrapper">
                    <img src="{% static 'mdfserver/images/data/tsa_multiseries.jpg' %}" alt="Time Series Analyst - TimeSeries Plot"/>
                </div>
                <div class="imgWrapper">
                    <img src="{% static 'mdfserver/images/data/tsa_box_plot.jpg' %}" alt="Time Series Analyst - Box Plot"/>
                </div>
            </div>
            <h2>Applications</h2>
            <p>Data produced so far have been used as preliminary results for several new grant proposals and are being
                included in manuscripts for publication. GAMUT data are also being used by other stakeholders. The Utah
                Department of Environmental Quality&rsquo;s Division of Water Quality has used GAMUT sensor output to
                screen for water quality violations and will look to GAMUT as a guide for their own continuous
                monitoring and data management efforts. Several university faculty have used GAMUT data in teaching
                their classes. Synergy is also achieved with other climate and water monitoring being conducted within
                Utah.</p>
        </div>
    </div>
{% endblock %}