{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Household Survey{% endblock %}

{% block content %}
    <div id="site_content">
        <h1>Results of the 2014 Household Survey</h1>
        <div class="region region-content ul-links">
            <p style="margin: 0in 0in 6.5pt; line-height: 20.4pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                <span style="font-size: 9.5pt; font-family: 'Lucida Sans Unicode', sans-serif;" lang="EN-US">The 2014 iUTAH Household Survey was completed by over 2,400 households in 23 neighborhoods across 12 cities and 3 counties. We have been working hard this winter and spring to analyze the results and generate summary reports that can help local communities see how their residents use and feel about water in their area.&nbsp;Detailed Full Reports and Highlights Reports for each study area are available by clicking on the links below.&nbsp; Maps of the neighborhoods where the study was conducted can also be seen by following the links at the bottom of the page.</span>
            </p>
            <p style="margin: 0in 0in 6.5pt; line-height: 20.4pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            </p>
            <h2>OVERALL FINDINGS</h2>
            <address><span style="font-size: 12.8px; line-height: 1.7em;">UPDATE: We've recently released the summary report showing the overall results of the survey, as well as differences across the three study counties:&nbsp;</span><a
                    style="font-size: 12.8px; line-height: 1.7em;"
                    href="http://data.iutahepscor.org/mdf/reports/SummaryReport-iUTAH2014HouseholdSurvey.pdf">Link to report</a><span
                    style="font-size: 12.8px; line-height: 1.7em;">.</span></address>
            <address>Copies of the survey questionnaires can be found&nbsp;<a
                    href="{% url 'household_questionnaries' %}">here</a>.
            </address>
            <p>&nbsp;</p>
            <div class="image_collage">
                <img style="width: 42%; float: left; margin-left: 3%; margin-top: -1%;" src="{% static 'mdfserver/images/data/field_study.jpg' %}" alt="Field Survey"/>
            </div>
            <div class="region region-content ul-links" style="margin-top: -3%; margin-bottom: -3%;">

                <h2 style="margin-left: 51%; margin-bottom: 0;">SALT LAKE VALLEY</h2>
                <span>&nbsp;</span>
                <p class="MsoNormal" style="margin-bottom: -15px; margin-left: 51%;"><span lang="EN-US">There is are two Full Reports for the Salt Lake Valley that provide a great deal of detail on many topics, and a set of Highlights Reports that identify significant results that are specific to each city.</span></p>

                <h3 style="letter-spacing: normal; margin-left: 51%;">Full Reports</h3>
                <ul style="margin-left: 57%; margin-bottom: 4%;">
                    <li><a title="Salt_Lake_City_Long_Report_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Salt_Lake_City_Long_Report_FINAL.pdf" target="_blank">Salt Lake City Neighborhoods</a></li>
                    <li><a title="Salt_Lake_Valley_Long_Report_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Salt_Lake_Valley_Long_Report_FINAL.pdf" target="_blank">Other Salt Lake Valley Neighborhoods (non-SLC)</a></li>
                </ul>

                <h3 style="letter-spacing: normal; margin-left: 51%;">Highlights Reports</h3>
                <ul style="margin-left: 57%; margin-bottom: 4%;">
                    <li><a title="Salt_Lake_City_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Salt_Lake_City_Highlights_FINAL.pdf" target="_blank">Salt Lake City</a></li>
                    <li><a title="Riverton_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Riverton_Highlights_FINAL.pdf" target="_blank">Riverton</a></li>
                    <li><a title="South_Jordan_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/South_Jordan_Highlights_FINAL.pdf" target="_blank">South Jordan</a></li>
                    <li><a title="West_Jordan_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/West_Jordan_Highlights_FINAL.pdf" target="_blank">West Jordan</a></li>
                    <li><a title="West_Valley_City_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/West_Valley_City_Highlights_FINAL.pdf" target="_blank">West Valley City</a></li>
                </ul>

            </div>

            <div style="margin-top: 9%;">
                <h2 style="margin-left: 51%;">CACHE VALLEY</h2>
                <p class="MsoNormal" style="margin-bottom: -15px; margin-left: 51%;"><span lang="EN-US">There is are two Full Reports for the Cache Valley that provide a great deal of detail on many topics, and a set of Highlights Reports that identify significant results that are specific to each city.</span></p>

                <h3 style="margin-left: 51%;">Full Reports</h3>
                <ul style="margin-left: 57%;">
                    <li><a title="Logan_HH_Survey_Long_Report_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Logan_HH_Survey_Long_Report_FINAL.pdf" target="_blank">Logan City Neighborhoods</a></li>
                    <li><a style="font-size: 12.8px;" title="CV_Non_Logan_Full_Report_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/CV_Non_Logan_Full_Report_FINAL.pdf" target="_blank">Other Cache Valley Neighborhoods (non-Logan)</a></li>
                </ul>

                <h3 style="margin-left: 51%;">Highlights Reports</h3>
                <ul style="margin-left: 57%;">
                    <li><a title="Nibley_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Nibley_Highlights_FINAL.pdf" target="_blank">Nibley City</a></li>
                    <li><a title="North_Logan_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/North_Logan_Highlights_FINAL.pdf" target="_blank">North Logan</a></li>
                    <li><a title="Spring_Creek_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Spring_Creek_Highlights_FINAL.pdf" target="_blank">Spring Creek</a></li>
                </ul>
            </div>
            <div style="width: 47.4%; margin-top: -35.2%; margin-bottom: 10%;">
                <h2 style="margin-bottom: 0;">HEBER VALLEY</h2>
                <span>&nbsp;</span>
                <p class="MsoNormal" style="margin-bottom: -15px;"><span lang="EN-US">There is a Full Report for the Heber Valley that provides a great deal of detail on many topics, and two Highlights Reports that identify significant results that are specific to each city.</span></p>
                <p class="MsoNormal" style="margin-bottom: -15px;"><a title="Heber_Valley_Household_Water_Survey_Report_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Heber_Valley_Household_Water_Survey_Report_FINAL.pdf" target="_blank">Full Report for Heber Valley</a></p>

                <h3 style="letter-spacing: normal;">Highlights Reports</h3>
                <ul style="margin-left: 6%; margin-bottom: 4%;">
                    <li><a title="Heber_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Heber_Highlights_FINAL.pdf" target="_blank">Heber City</a></li>
                    <li><a title="Midway_Highlights_FINAL.pdf" href="http://data.iutahepscor.org/mdf/reports/Midway_Highlights_FINAL.pdf" target="_blank">Midway City</a></li>
                </ul>
            </div>
            <h2>MAPS OF STUDY AREAS</h2>
            <p>
                Maps of the neighborhoods where the survey was conducted are shown below. To see a higher resolution map, click on the link below each image.
            </p>
            <div class="afterText2">
                <div class="imgWrapper2">
                    <p class="wrapperText2">Cache County Neighborhoods</p>
                    <a href="http://iutahepscor.org/hhsurvey/Cache_overview_map.pdf" target="_blank">
                        <img src="{% static 'mdfserver/images/data/cache_map.jpg' %}" alt="Cache Map"/>
                    </a>
                </div>
                <div class="imgWrapper2">
                    <p class="wrapperText2">Salt Lake County Neighborhoods</p>
                    <a href="http://iutahepscor.org/hhsurvey/salt_lake_overview_map.pdf" target="_blank">
                        <img src="{% static 'mdfserver/images/data/salt_lake_map.jpg' %}" alt="SLC Map"/>
                    </a>
                </div>
                <div class="imgWrapper2">
                    <p class="wrapperText2">Heber Valley Neighborhoods</p>
                    <a href="{% static 'mdfserver/documents/HEBER_VALLEY_NEIGHBORHOODS_overview.pdf' %}" target="_blank">
                        <img src="{% static 'mdfserver/images/data/heber_map.jpg' %}" alt="SLC Map"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}