{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Household Survey Copies{% endblock %}

{% block content %}
    <div id="site_content">
        <h1>Copies of the 2014 iUTAH Household Survey Questionnaire (Utah&rsquo;s Water Future)</h1>
        <div class="region region-content">
            <p>The 2014 iUTAH Household Survey was customized for each of the 23 neighborhoods where the survey was
                implemented. &nbsp;Copies of each of the actual surveys in English and Spanish can be viewed by clicking
                the links below. &nbsp;Nearly all questions in each version of the questionnaire are identical, with the
                exception of some specific local policy questions that were included in different communities to reflect
                the interests of local water managers and decision-makers. &nbsp;In addition, each neighborhood version
                included a unique page of questions about a different local water body of interest (page 10).</p>
            <p>Survey findings and maps of the study neighborhoods can be found by clicking <a
                    href="{% url 'household_survey' %}">here</a>.</p>
            <p>&nbsp;</p>
            <p><a class="link-button first" href="{% url 'household_questionnaires_en' %}">ENGLISH LANGUAGE
                VERSIONS</a> <a class="link-button second" href="{% url 'household_questionnaires_es' %}">VERSIONES
                DE LA LENGUA ESPAÑOLA <span>(Spanish Versions)</span></a></p>
        </div>
    </div>
{% endblock %}