{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}English Questionnaires{% endblock %}

{% block content %}
    <div id="site_content">
        <h1>ENGLISH LANGUAGE VERSIONS</h1>
        <div class="questionnaire-box box-1">
            <h2 style="text-align: center;"><strong>CACHE VALLEY QUESTIONNAIRES</strong></h2>
            <p><img class="questionnaire-img" src="{% static 'mdfserver/images/data/questionnaires/cache_questionnaire_en.jpg' %}"></p>
            <p>Logan City neighborhoods</p>
            <ul>
                <li><a href="http://data.iutahepscor.org/mdf/reports/CACHE_HH_Survey_BRIDGER_final.pdf">Bridger</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/CACHE_HH_Survey_CLIFFSIDE_final.pdf">Cliffside</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/CACHE_HH_Survey_DOWNTOWN_final.pdf">Downtown</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/CACHE_HH_Survey_GREEN_MEADOWS_final.pdf">Green Meadows</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/CACHE_HH_Survey_WILSON_final.pdf">Wilson</a></li>
            </ul>
            <p>Other Cache County neighborhoods</p>
            <ul>
                <li><a href="http://data.iutahepscor.org/mdf/reports/CACHE_HH_Survey_NIBLEY_final.pdf">Nibley</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/CACHE_HH_Survey_NORTH_LOGAN_final.pdf">North Logan</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/CACHE_HH_Survey_SPRING_CREEK_final.pdf">Spring Creek (River Heights and
                    Providence)</a></li>
            </ul>
        </div>
        <div class="questionnaire-box box-2">
            <h2 style="text-align: center;"><strong>SALT LAKE VALLEY QUESTIONNAIRES</strong></h2>
            <p><img class="questionnaire-img" src="{% static 'mdfserver/images/data/questionnaires/salt_lake_questionnaire_en.jpg' %}"></p>
            <p>Salt Lake City neighborhoods</p>
            <ul>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SLC_HH_Survey_9thN9th_final.pdf">9<sup>th</sup> E &amp; 9<sup>th</sup> S</a>
                </li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SLC_HH_Survey_LIBERTY_WELLS_final.pdf">Liberty Wells</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SLC_HH_Survey_POPLAR_GROVE_final.pdf">Polar Grove</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SLC_HH_Survey_PEOPLES_FREEWAY_final.pdf">People's Freeway</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SLC_HH_Survey_WEST_HIGH_final.pdf">West High</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SLC_HH_Survey_YALECREST_final.pdf">Yalecrest</a></li>
            </ul>
            <p>Other Salt Lake County neighborhoods</p>
            <ul>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SLC_HH_Survey_CANYON_RIM_final.pdf">Canyon Rim</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SLC_HH_Survey_MILLCREEK_final.pdf">Lower Millcreek</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/RIVERTON_HH_Survey_final.pdf">Riverton</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/SOUTH_JORDAN_HH_Survey_final.pdf">South Jordan</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/WEST_JORDAN_HH_Survey_final.pdf">West Jordan</a></li>
                <li><a href="http://data.iutahepscor.org/mdf/reports/WEST_VALLEY_CITY_HH_Survey_final.pdf">West Valley City</a></li>
            </ul>
        </div>
        <div class="questionnaire-box box-3">
            <h2 style="text-align: center;"><strong>HEBER VALLEY QUESTIONNAIRES</strong></h2>
            <p><img class="questionnaire-img" src="{% static 'mdfserver/images/data/questionnaires/heber_questionnaire_en.jpg' %}"></p>
            <p><a href="http://data.iutahepscor.org/mdf/reports/WASATCH_HH_Survey_HEBER_final.pdf">Heber City</a></p>
            <p><a href="http://data.iutahepscor.org/mdf/reports/WASATCH_HH_Survey_MIDWAY_final.pdf">Midway City</a></p>
        </div>
    </div>
{% endblock %}