{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Provo River{% endblock %}
{% block data_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <h1>Provo River</h1>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-20" class="node node-article clearfix">
                            <div class="content">
                                <div id="the_modal" class="modal fade bs-example-modal-lg">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div id="modal_contents" class="modal_image">
                                                <div id="data-watershed-gallery-modal"
                                                     class="carousel slide watershed-image-gallery">
                                                    <div id="carousel_displayer" class="carousel-inner"
                                                         style="border: 1px solid #404040;" data-toggle="modal"
                                                         data-target=".bs-example-modal-lg">
                                                        <div class="item active">
                                                            <img class="display img-responsive" src="{% static 'mdfserver/images/data/provo_river/provo_river_1.jpg' %}"/>
                                                        </div>
                                                        <div class="item">
                                                            <img class="display img-responsive" src="{% static 'mdfserver/images/data/provo_river/provo_river_2.jpg' %}">
                                                        </div>
                                                        <div class="item">
                                                            <img class="display img-responsive" src="{% static 'mdfserver/images/data/provo_river/provo_river_3.jpg' %}">
                                                        </div>
                                                        <div class="item">
                                                            <img class="display img-responsive" src="{% static 'mdfserver/images/data/provo_river/provo_river_4.jpg' %}">
                                                        </div>
                                                    </div>
                                                    <a class="carousel-control left"
                                                                      href="#data-watershed-gallery-modal"
                                                                      data-slide="prev"> <span
                                                        class="icon-prev">&lsaquo;</span> </a> <a
                                                        class="carousel-control right"
                                                        href="#data-watershed-gallery-modal" data-slide="next"> <span
                                                        class="icon-next">&rsaquo;</span> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <div class="leftPanel">
                                                <div class="watershed-info">
                                                    <div id="site-carousels"
                                                         class="carousel slide watershed-image-gallery">
                                                        <ol class="carousel-indicators">
                                                            <li class="active" style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="0">
                                                                .
                                                            </li>
                                                            <li style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="1">
                                                                .
                                                            </li>
                                                            <li style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="2">
                                                                .
                                                            </li>
                                                            <li style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="3">
                                                                .
                                                            </li>
                                                        </ol>
                                                        <div class="carousel-inner" onclick="changeModal();"
                                                             data-toggle="modal" data-target=".bs-example-modal-lg">
                                                            <div class="item active"><img class="display img-responsive"
                                                                                          style="border: 1px solid #404040;"
                                                                                          src="{% static 'mdfserver/images/data/provo_river/provo_river_1.jpg' %}"
                                                                                          alt=""/></div>
                                                            <div class="item"><img class="display img-responsive"
                                                                                   style="border: 1px solid #404040;"
                                                                                   src="{% static 'mdfserver/images/data/provo_river/provo_river_2.jpg' %}"
                                                                                   alt=""/></div>
                                                            <div class="item"><img class="display img-responsive"
                                                                                   style="border: 1px solid #404040;"
                                                                                   src="{% static 'mdfserver/images/data/provo_river/provo_river_3.jpg' %}"
                                                                                   alt=""/></div>
                                                            <div class="item"><img class="display img-responsive"
                                                                                   style="border: 1px solid #404040;"
                                                                                   src="{% static 'mdfserver/images/data/provo_river/provo_river_4.jpg' %}"
                                                                                   alt=""/></div>
                                                        </div>
                                                        <div class="carousel-caption"
                                                             style="height: 19px; padding: 7px;">
                                                            <p style="color: #bbb; padding-bottom: 0;">Multiple
                                                                instruments are used to collect data.
                                                            </p>
                                                        </div>
                                                        <a class="carousel-control left" href="#site-carousels"
                                                           data-slide="prev"> <span class="icon-prev">&lsaquo;</span>
                                                        </a> <a class="carousel-control right" href="#site-carousels"
                                                                data-slide="next"> <span
                                                            class="icon-next">&rsaquo;</span> </a>
                                                    </div>
                                                    <p>The Provo River Watershed encompasses an area of 1743 km <sup>2</sup> with elevations between 1368 and 2993 meters, and average annual stream flow of 6 m <sup>3</sup> /s. The Provo River originates at Trial Lake in the Uinta Mountains, is retained by Jordanelle Dam and Deer Creek Dam, then flows west through Provo Canyon and the developed cities of Orem and Provo before discharging to Utah Lake. The iUTAH monitoring sites are focused on the Middle Provo River in the Heber Valley between Jordanelle and Deer Creek Reservoirs, which is undergoing a rapid rural to urban transition. This stretch of the river has also been the focus of a recent restoration project to improve diversity of the natural habitat and productivity of the fishery to maintain the Provo River&rsquo;s Blue Ribbon Fishery status.</p>
                                                </div>
                                                <div class="monitoring-sites-table">
                                                    <p class="disclaimer">The data presented here are provisional and
                                                        subject to revision</p>
                                                    <h3>Monitoring Sites: <span>Click on a site code to visualize and download data</span>
                                                    </h3>
                                                    <h3 class="site_heading">Climate Sites</h3>
                                                    <table class="plain-table">
                                                        <thead>
                                                        <tr>
                                                            <th>Site Code</th>
                                                            <th>Site Name</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="{% url 'dynamic' 'iUTAH_Provo_OD' 'PR_BD_C' %}">PR_BD_C</a>
                                                            </td>
                                                            <td>Beaver Divide Climate</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="{% url 'dynamic' 'iUTAH_Provo_OD' 'PR_CH_C' %}">PR_CH_C</a>
                                                            </td>
                                                            <td>Charleston Climate</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="{% url 'dynamic' 'iUTAH_Provo_OD' 'PR_ST_C' %}">PR_ST_C</a>
                                                            </td>
                                                            <td>Soapstone Climate</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="{% url 'dynamic' 'iUTAH_Provo_OD' 'PR_TL_C' %}">PR_TL_C</a>
                                                            </td>
                                                            <td>Trial Lake Climate</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <h3 class="site_heading">Aquatic Sites</h3>
                                                    <table class="plain-table">
                                                        <thead>
                                                        <tr>
                                                            <th>Site Code</th>
                                                            <th>Site Name</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td><a href="{% url 'dynamic' 'iUTAH_Provo_OD' 'PR_BJ_AA' %}">PR_BJ_AA</a>
                                                            </td>
                                                            <td>Provo River below Jordanelle Reservoir</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{% url 'dynamic' 'iUTAH_Provo_OD' 'PR_CH_AA' %}">PR_CH_AA</a>
                                                            </td>
                                                            <td>Provo River at Charleston, Utah Aquatic</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{% url 'dynamic' 'iUTAH_Provo_OD' 'PR_LM_BA' %}">PR_LM_BA</a>
                                                            </td>
                                                            <td>Provo River at Lower Midway Aquatic</td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{% url 'dynamic' 'iUTAH_Provo_OD' 'PR_ST_BA' %}">PR_ST_BA</a>
                                                            </td>
                                                            <td>Provo River near Soapstone Basic Aquatic</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="rightPanel">
                                                <div>
                                                    <a href="http://data.iutahepscor.org/tsa/?network=Provo%20River" target="_blank">
                                                        <img src="{% static 'mdfserver/images/data/tsa_map_sites.jpg' %}">
                                                    </a>
                                                </div>
                                                <p>Visualize Provo River data</p>
                                                <div>
                                                    <a href="http://data.iutahepscor.org/ProvoRiverWOF/" target="_blank">
                                                        <img src="{% static 'mdfserver/images/data/watershed_web_services.jpg' %}">
                                                    </a>
                                                </div>
                                                <p>Web Services for Provo River</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}