{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Red Butte Creek{% endblock %}
{% block data_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <h1>Red Butte Creek</h1>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-20" class="node node-article clearfix">
                            <div class="content">
                                <div id="the_modal" class="modal fade bs-example-modal-lg">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div id="modal_contents" class="modal_image">
                                                <div id="data-watershed-gallery-modal"
                                                     class="carousel slide watershed-image-gallery">
                                                    <div id="carousel_displayer" class="carousel-inner"
                                                         style="border: 1px solid #404040;" data-toggle="modal"
                                                         data-target=".bs-example-modal-lg">
                                                        <div class="item active">
                                                            <img class="display img-responsive"
                                                                 src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_1.jpg' %}"/>
                                                        </div>
                                                        <div class="item">
                                                            <img class="display img-responsive"
                                                                 src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_2.jpg' %}">
                                                        </div>
                                                        <div class="item">
                                                            <img class="display img-responsive"
                                                                 src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_3.jpg' %}">
                                                        </div>
                                                        <div class="item">
                                                            <img class="display img-responsive"
                                                                 src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_4.jpg' %}">
                                                        </div>
                                                        <div class="item">
                                                            <img class="display img-responsive"
                                                                 src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_5.jpg' %}">
                                                        </div>
                                                    </div>
                                                    <a class="carousel-control left"
                                                       href="#data-watershed-gallery-modal"
                                                       data-slide="prev"> <span
                                                            class="icon-prev">&lsaquo;</span> </a> <a
                                                        class="carousel-control right"
                                                        href="#data-watershed-gallery-modal" data-slide="next"> <span
                                                        class="icon-next">&rsaquo;</span> </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <div class="leftPanel">
                                                <div class="watershed-info">
                                                    <div id="site-carousels"
                                                         class="carousel slide watershed-image-gallery">
                                                        <ol class="carousel-indicators">
                                                            <li class="active" style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="0">
                                                                .
                                                            </li>
                                                            <li style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="1">
                                                                .
                                                            </li>
                                                            <li style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="2">
                                                                .
                                                            </li>
                                                            <li style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="3">
                                                                .
                                                            </li>
                                                            <li style="color: white;"
                                                                data-target="#data-watershed-gallery" data-slide-to="4">
                                                                .
                                                            </li>
                                                        </ol>
                                                        <div class="carousel-inner" onclick="changeModal();"
                                                             data-toggle="modal" data-target=".bs-example-modal-lg">
                                                            <div class="item active"><img class="display img-responsive"
                                                                                          style="border: 1px solid #404040;"
                                                                                          src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_1.jpg' %}"
                                                                                          alt=""/></div>
                                                            <div class="item"><img class="display img-responsive"
                                                                                   style="border: 1px solid #404040;"
                                                                                   src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_2.jpg' %}"
                                                                                   alt=""/></div>
                                                            <div class="item"><img class="display img-responsive"
                                                                                   style="border: 1px solid #404040;"
                                                                                   src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_3.jpg' %}"
                                                                                   alt=""/></div>
                                                            <div class="item"><img class="display img-responsive"
                                                                                   style="border: 1px solid #404040;"
                                                                                   src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_4.jpg' %}"
                                                                                   alt=""/></div>
                                                            <div class="item"><img class="display img-responsive"
                                                                                   style="border: 1px solid #404040;"
                                                                                   src="{% static 'mdfserver/images/data/red_butte_creek/red_butte_5.jpg' %}"
                                                                                   alt=""/></div>
                                                        </div>
                                                        <a class="carousel-control left" href="#site-carousels"
                                                           data-slide="prev"> <span class="icon-prev">&lsaquo;</span>
                                                        </a> <a class="carousel-control right" href="#site-carousels"
                                                                data-slide="next"> <span
                                                            class="icon-next">&rsaquo;</span> </a>
                                                    </div>
                                                    <p>Red Butte Creek watershed is 18.8 km <sup>2</sup> with elevations
                                                        between 1500 and 2400 m. Average annual streamflow ranges from
                                                        0.058 m <sup>3</sup> /s to 0.416 m <sup>3</sup> /s. Red Butte
                                                        Creek originates in the mountains of northeastern Salt Lake
                                                        County, and Red Butte Canyon is a Research Natural Area managed
                                                        by the U.S. Forest Service. Red Butte Reservoir, initially built
                                                        to supply water to Fort Douglas, is currently used as a habitat
                                                        for June sucker fish that are transported to other watersheds in
                                                        the Wasatch Front. After exiting the canyon, the Creek makes a
                                                        rapid transition to built-out, urbanized land use through the
                                                        University of Utah campus and into Salt Lake City before
                                                        discharging to the Jordan River.</p>
                                                </div>
                                                <div class="monitoring-sites-table">
                                                    <p class="disclaimer">The data presented here are provisional and
                                                        subject to revision</p>
                                                    <h3>Monitoring Sites: <span>Click on a site code to visualize and download data</span>
                                                    </h3>
                                                    <h3 class="site_heading">Climate Sites</h3>
                                                    <table class="plain-table">
                                                        <thead>
                                                        <tr>
                                                            <th>Site Code</th>
                                                            <th class="sites-table-name-header">Site Name</th>
                                                            <th>Site Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for site in climate_sites %}
                                                            <tr>
                                                                <td>
                                                                    <a href="{% url 'dynamic' db_name site.site_code %}">{{ site.site_code }}</a>
                                                                </td>
                                                                <td>{{ site.data.info.name }}</td>
                                                                <td>{{ site.data.info.status|default:"Operational" }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <h3 class="site_heading">Aquatic Sites</h3>
                                                    <table class="plain-table">
                                                        <thead>
                                                        <tr>
                                                            <th>Site Code</th>
                                                            <th class="sites-table-name-header">Site Name</th>
                                                            <th>Site Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for site in aquatic_sites %}
                                                            <tr>
                                                                <td>
                                                                    <a href="{% url 'dynamic' db_name site.site_code %}">{{ site.site_code }}</a>
                                                                </td>
                                                                <td>{{ site.data.info.name }}</td>
                                                                <td>{{ site.data.info.status|default:"Operational" }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <h3 class="site_heading">Storm Drain Sites</h3>
                                                    <table class="plain-table">
                                                        <thead>
                                                        <tr>
                                                            <th>Site Code</th>
                                                            <th class="sites-table-name-header">Site Name</th>
                                                            <th>Site Type</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for site in storm_drain_sites %}
                                                            <tr>
                                                                <td>
                                                                    <a href="{% url 'dynamic' db_name site.site_code %}">{{ site.site_code }}</a>
                                                                </td>
                                                                <td>{{ site.data.info.name }}</td>
                                                                <td>{{ site.data.info.status|default:"Operational" }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="rightPanel">
                                                <div>
                                                    <a href="http://data.iutahepscor.org/tsa/?network=Red%20Butte%20Creek" target="_blank">
                                                        <img src="{% static 'mdfserver/images/data/tsa_map_sites.jpg' %}">
                                                    </a>
                                                </div>
                                                <p>Visualize Red Butte Creek data</p>
                                                <div>
                                                    <a href="http://data.iutahepscor.org/RedButteCreekWOF/" target="_blank">
                                                        <img src="{% static 'mdfserver/images/data/watershed_web_services.jpg' %}">
                                                    </a>
                                                </div>
                                                <p>Web Services for Red Butte Creek</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
