{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Development{% endblock %}
{% block development_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <h1>Development</h1>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-4" class="node node-page-with-sidebar node-promoted clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <p>Synthesis of diverse data collection and modeling to support iUTAH research teams required storage, networking, computational, and human resources. The iUTAH CI Team built cyberinfrastucture to support the full data life cycle and increase capacity for data collection, organization, management, sharing, synthesis to higher-level products, and integration with models.
                                            </p>
                                            <p>Data organization, archival, and publication was primarily supported at Utah State University. The CI Team coordinated data storage resources with the University of Utah for redundancy and for High Performance Computing support. The CI Team also leveraged development of enhanced optical network connectivity through the Utah Education Network as well as computational resources through the Utah/Wyoming EPSCoR CI-WATER award.
                                            </p>
                                            <p>Over the six years of the iUTAH Project, the CI Team developed a number of different <a
                                                    href="{% url 'hardware_development' %}">hardware</a> and <a
                                                    href="{% url 'software_development' %}">software</a>
                                                components to create better access to data and new tools for collaboration among iUTAH participants. Click on the links to learn more about our development efforts.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}