{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Development{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <h1>Development</h1>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-4" class="node node-page-with-sidebar node-promoted clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <p>Synthesis of diverse data collection and modeling to support iUTAH
                                                research teams requires a facility with adequate storage, networking,
                                                computational, and human resources. The iUTAH CI Team is building the
                                                iUTAH Modeling and Data Federation to support the full data life cycle
                                                and increase capacity for data collection, organization, management,
                                                sharing, synthesis to higher-level products, and integration with models
                                                developed by iUTAH partners.
                                            </p>
                                            <p>The iUTAH MDF is coordinating across Utah universities. Data
                                                organization, archival, and publication is primarily supported at Utah
                                                State University, whereas the CI Team is coordinating data storage
                                                resources with the University of Utah for redundancy and for High
                                                Performance Computing support. The CI Team is also leveraging
                                                development of enhanced optical network connectivity through the Utah
                                                Education Network and the recent EPSCoR RII C2 award as well as
                                                computational resources through the recent Utah/Wyoming EPSCoR CI-WATER
                                                award.
                                            </p>
                                            <p>We are working on a number of different <a
                                                    href="/mdf/Development/Hardware_Development">hardware</a> and <a
                                                    href="/mdf/Development/Software_Development">software</a>
                                                development efforts to create better access to data and new tools for
                                                collaboration among iUTAH participants. Click on the links to learn more
                                                about our development efforts.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}