{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Hardware Development{% endblock %}
{% block development_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <h1>Hardware Development</h1>
            <p>The iUTAH and CI-WATER EPSCoR projects have resulted in an unprecendeted level of collaboration and
                coordination in development of computational and storage resources to support the type of
                multi-institution research conducted by these projects. The following describe a few details of our
                major computer hardware acquisitions in support of the Utah EPSCoR program.</p>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-6" class="node node-page clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <h2>iUTAH Virtual Server Platform</h2>
                                        <p>We collaborated with the CI-WATER EPSCoR project and Utah State University's
                                            Information Technology group to purchase and deploy two virtual server
                                            clusters and a shared storage environment within which the iUTAH Modeling
                                            and Data Federation has been deployed. The iUTAH virtual server platform
                                            takes advantage of the latest in hardware and software virtualization and
                                            has enabled us to flexibly provision and deploy the diverse server
                                            environments, databases, and web applications needed to support iUTAH
                                            scientists. These clusters enable hosting of web applications and servers,
                                            provision of server and computational resources for iUTAH researchers and
                                            groups, and an effective research platform for staging and testing the
                                            innovative applications being developed by the iUTAH Cyberinfrastructure
                                            Team.</p>
                                        <h2 class="field-item even">iUTAH/CI-WATER Store</h2>
                                            <p>The iUTAH CI Team
                                                with the CI-WATER team on the design for a large-scale disk storage
                                                system that better supports the large-scale storage needs of iUTAH and
                                                CI-WATER researchers work on high performance computing applications.
                                                This Petabyte disk storage array is hosted in the University of Utah's
                                                state-of-the-art downtown Salt Lake City data center. In addition to
                                                supporting high performance computing applications through the joint
                                                University of Utah/Utah State University Center for High Performance
                                                Computing (CHPC), the storage array is being used as a redundant,
                                                offsite backup system for all services and applications deployed at USU.
                                            </p>
                                            <div class="centeredImage"><img style="border: none;" src="{% static 'mdfserver/images/development/hardware.png' %}" alt="Hardware Infrastructure Diagram"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}