{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Software Development{% endblock %}
{% block development_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div id="site_content">
        <div id="content">
            <h1>Software Development</h1>
            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-9" class="node node-page clearfix">
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">
                                            <h2>Data Repository and Publication</h2>
                                            <p><span style="line-height: 20.4px;">
                                                Through the course of iUTAH, researchers developed datasets and models
                                                as research products. We used
                                                <a href="http://www.hydroshare.org">HydroShare</a>
                                                as a repository to support the
                                                full data life cycle for most of these resources. HydroShare provides a
                                                venue for sharing and publication of research products, and it supports
                                                discovery and access of heterogeneous datasets with clear metadata that
                                                is compliant with recognized standards. Access
                                                <a target="_blank" href="https://www.hydroshare.org/search/?q=&selected_facets=owners_names_exact:iUTAH%20Data%20Manager">
                                                    iUTAH datasets on HydroShare.
                                                </a>
                                            </span></p>
                                            <div class="centeredImage"><a href="https://hydroshare.org"><img
                                                    src="{% static 'mdfserver/images/development/data_repository.png' %}"
                                                    alt="Data Publication"/></a></div>
                                            <br>

                                            <h2>Sensor Data Management</h2>
                                            <p>The CI Team continues to support streaming sensor data from monitoring
                                                sites in the <a href="{% url 'gamut_network' %}">GAMUT watersheds</a>.
                                                The CI Team assists with telemetry
                                                connections to each monitoring site, automated loading of sensor data
                                                into relational databases, and managing the tools for public web-based
                                                access and for data management and post processing. See this
                                                <a href="https://link.springer.com/article/10.1007/s10661-015-4594-3">
                                                    published paper</a>
                                                for a full description of the sensor data workflow. </p>
                                            <div class="centeredImage"><img
                                                    src="{% static 'mdfserver/images/development/sensor_data.jpg' %}"
                                                    alt="Sensor"/></div>
                                            <br>

                                            <h2>Web-Based Data Access and Visualization</h2>
                                            <p>
                                                The iUTAH CI Team developed a <a href="http://data.iutahepscor.org/tsa/" target="_blank">web application</a> for visualizing, summarizing, and exporting data collected by environmental sensors at iUTAH GAMUT monitoring sites. Features include faceted searching to browse available data series, a map interface to identify data available at different sites, and different plot types with descriptive statistics.

                                            </p>
                                            <div class="centeredImage"><img
                                                    src="{% static 'mdfserver/images/development/tsa.jpg' %}"
                                                    alt="Time Series Analyst"/></div>
                                            <br>

                                            <h2>Equipment Management</h2>
                                            <p>Environmental monitoring networks such as GAMUT need to track physical
                                                inventory and related actions. We developed a data model and a web interface
                                                for entering, storing, and retrieving information on equipment and site
                                                visits, calibrations, and deployments. The web application is available via
                                                <a style="line-height: 20.4px;" href="https://github.com/UCHIC/ODM2Sensor/" target="_blank">GitHub</a>.
                                            </p>
                                            <div class="centeredImage"><img
                                                    src="{% static 'mdfserver/images/development/equipment_management.png' %}"
                                                    alt="Equipment Management"/></div>
                                            <br>

                                            <h2>Sensor Data Quality Control</h2>
                                            <p>
                                                Sensor data streams typically include values that are not representative
                                                of environmental conditions and need editing due to fouling, drift, or
                                                unknown causes. The CI Team developed ODM Tools Python, an open source
                                                software application for post processing of sensor data. The software
                                                provides the functionality to move raw data to quality controlled
                                                products while capturing information about transformations to ensure
                                                that the full provenance of the data is recorded. ODM Tools Python is
                                                available on <a href="https://github.com/UCHIC/ODMToolsPython"
                                                                target="_blank">GitHub</a>.
                                                See this
                                                <a href="http://www.sciencedirect.com/science/article/pii/S1364815215001115">
                                                    published paper</a> for additional details
                                                on the software.
                                            </p>
                                            <div class="centeredImage"><img
                                                    src="{% static 'mdfserver/images/development/sensor_data_quality_control.png' %}"
                                                    alt="Sensor Quality Control Data"/></div>
                                            <br>

                                            <h2 style="letter-spacing: normal;">Survey Data Viewer</h2>
                                            <p>Social science survey data is useful for understanding perceptions
                                                regarding environmental issues. These data are often presented in static
                                                figures and reports with exploration limited to the original
                                                investigator. The CI Team developed a web-based viewer to provide
                                                access to survey data to various users. Features of the viewer include
                                                several view options and the ability to cross-tabulate data based on
                                                demographic variables. See the
                                                <a href="http://data.iutahepscor.org/surveys/">
                                                deployed viewer
                                                </a>
                                                to interact with several
                                                iUTAH surveys, and see this
                                                <a href="https://www.sciencedirect.com/science/article/pii/S1364815216303541">
                                                published paper
                                                </a>
                                                for additional details on
                                                the Survey Data Viewer.
                                            </p>
                                            <div class="centeredImage"><img
                                                    src="{% static 'mdfserver/images/development/survey_data_viewer.png' %}"
                                                    alt="Survey Data Viewer"/></div>
                                            <br>

                                            <h2 style="letter-spacing: normal;">Model Coupling</h2>
                                            <p>
                                                Hydrologic model coupling efforts are a central focus of modern water
                                                resources research. The CI Team developed a software coupling framework
                                                to enable cross-disciplinary, collaborative, and asynchronous research.
                                                This framework borrows conceptually from other projects
                                                (e.g. OpenMI and CSDMS) to form a data-centric modeling platform. We
                                                worked to bridge the gap between observed hydrologic data and simulation
                                                computations by leveraging open data standards (WaterML and NetCDF) and
                                                relational database management systems
                                                (<a href="https://github.com/ODM2/ODM2">ODM2</a>)
                                                . This project supports
                                                coupled water models by providing tools for (1) data discovery,
                                                collection, and analysis, (2) model design and execution, and (3)
                                                results analysis and archival. To learn more about this coupled modeling
                                                platform, visit the
                                                <a href="https://github.com/castronova/emit">
                                                Environmental Model Integration Project
                                                </a>
                                                code repository.
                                            </p>

                                            <h2 style="letter-spacing: normal;">Streaming and Loading Sensor Data</h2>
                                            <p>
                                                Sensor data collected at remote field sites are typically logged and
                                                stored in text-based files. The CI Team developed software to permit
                                                automated loading of sensor data into relational databases. The
                                                functionality includes mapping of text-based files with metadata
                                                associated with time series data and scheduling regular loads of the
                                                data to ODM2 databases. See the
                                                <a href="https://github.com/ODM2/ODM2StreamingDataLoader" target="_blank">
                                                GitHub repository
                                                </a>
                                                for more information.
                                            </p>
                                            <div class="centeredImage"><img
                                                    src="{% static 'mdfserver/images/development/streaming_data_loader.png' %}"
                                                    alt="Streaming Data Loader"/></div>
                                            <br>

                                            <h2 style="margin-top: 10px;">Specimen Based Data</h2>
                                            <p>
                                                Monitoring networks frequently collect specimens of water, soil, and
                                                air for subsequent analysis. The documentation for these data are
                                                distinct and more extensive than that of time series data. The CI Team
                                                collaborated with the
                                                <a href="https://github.com/ODM2/ODM2StreamingDataLoader">
                                                ODM2
                                                </a>
                                                and
                                                <a href="https://github.com/czodata">
                                                CZO Data
                                                </a>
                                                communities for the development
                                                of data modeling standards and specifications for specimen-based data.
                                                The CI Team developed tools to help manage iUTAH specimen-based datasets
                                                including a
                                                <a href="https://github.com/ODM2/YODA-File" target="_blank">
                                                template
                                                </a>
                                                for data organization, a
                                                <a href="https://github.com/ODM2/YODA-Tools" target="_blank">
                                                converter
                                                </a>
                                                to load data to
                                                a database, and a
                                                <a href="https://github.com/ODM2/SpecimenDataViewer" target="_blank">
                                                web application
                                                </a>
                                                for viewing specimen data.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
