{% extends 'mdfserver/base.html' %}
{% load staticfiles %}

{% block page_title %}Home{% endblock %}
{% block home_classes %}{{ block.super }} active{% endblock %}

{% block content %}
    <div style="border: 1px solid rgb(220, 225, 230); padding: 0 0 20px 0;" id="site_content">
        <div id="content">
            <div id="big_image" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#big_image" data-slide-to="0" class="active"></li>
                    <li data-target="#big_image" data-slide-to="1"></li>
                    <li data-target="#big_image" data-slide-to="2"></li>
                    <li data-target="#big_image" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static "mdfserver/images/home_slider/station.jpg" %}" alt="iUTAH Epscor"
                             class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="{% static "mdfserver/images/home_slider/mountains.jpg" %}" alt="iUTAH Epscor"
                             class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="{% static "mdfserver/images/home_slider/hand_guy.jpg" %}" alt="iUTAH Epscor"
                             class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="{% static "mdfserver/images/home_slider/second_station.jpg" %}" alt="iUTAH Epscor"
                             class="img-responsive">
                    </div>
                </div>

                <div class="carousel-caption">
                    <p style="color: #AAA; padding-bottom: 0px;">View streaming sensor data from iUTAH sites. Click
                        <a
                                class="banner-button" style="color: #6F8A9E;" href="http://data.iutahepscor.org/tsa/">here</a>
                        to use the Time
                        Series Analyst.</p>
                </div>
            </div>

            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-1" class="node node-page clearfix" about="/mdf/Home" typeof="foaf:Document">


                            <div class="content">
                                <div style="padding-left: 20px;padding-right: 20px;"
                                     class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <div class="item-page">
                                                <h2>About Us</h2>
                                                <section>
                                                    <p style="font-size: 12px;">
                                                        iUTAH Cyberinfrastructure is a compendium of various tools and
                                                        web-based interfaces for sharing data, models, and other digital
                                                        resources. The iUTAH Cyberinfrastructure Team (CI Team) focused
                                                        on developing hardware and software systems that improved iUTAH
                                                        participants’ capacity for data collection, organization,
                                                        management, sharing, synthesis to higher-level products, and
                                                        integration with models. After six years, The iUTAH Project is
                                                        complete, but the associated cyberinfrastructure continues to be
                                                        accessible for iUTAH products, reuse, and further development.
                                                    </p>
                                                </section>

                                                <h2>Highlights</h2>
                                                <section class="column_left">
                                                    <p>
                                                        <strong>Time Series Data Access and Visualization: </strong>
                                                        The iUTAH CI Team developed a <a href="http://data.iutahepscor.org/tsa/">web application</a>
                                                        for visualizing, summarizing, and exporting time series data. Data from the iUTAH
                                                        GAMUT network are accessible as well as active USGS sites in
                                                        overlapping basins.
                                                    </p>
                                                    <p>
                                                        <strong>Site and Watershed Pages: </strong>
                                                        Dynamic content pages continue to provide preview of current
                                                        conditions in the iUTAH GAMUT watersheds. Check out sites
                                                        located in the <a href="{% url 'logan_river' %}">Logan
                                                        River</a>, <a href="{% url 'provo_river' %}">Provo River</a> and
                                                        <a href="{% url 'red_butte_creek' %}">Red Butte Creek</a>
                                                        watersheds.
                                                    </p>


                                                </section>
                                                <section class="column_right">
                                                    <p>
                                                        <strong>Survey Data Viewer: </strong>
                                                        We developed a <a href="http://data.iutahepscor.org/surveys/">web-based</a>
                                                        tool for visualizing responses to social science surveys, which
                                                        was implemented for several iUTAH surveys. The viewer allows
                                                        users to easily explore survey data with a various view options
                                                        and to differentiate responses between different demographic
                                                        groups.
                                                    </p>

                                                    <p><strong>Data Publication with HydroShare: </strong>
                                                        iUTAH researchers continue to use
                                                        <a href="https://www.hydroshare.org/">HydroShare</a> to publish data and
                                                        models. HydroShare is an online, collaborative environment for
                                                        sharing of data and models with support for formal publication
                                                        of resources.
                                                        <a href="http://data.iutahepscor.org/mdf/About/Training_Materials/">
                                                            View tutorials</a> on data publication in HydroShare.
                                                    </p>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block footer_links %}
    <div id="footerLinks">
        <div class="linksbox">
            <ul>
                <li><a href="http://www.iutahepscor.org">iUTAH Homepage</a></li>
                <li><a href="http://www.utepscor.org" target="_blank">Utah EPSCoR</a></li>
                <li><a href="http://ci-water.org/" target="_blank">CI-WATER EPSCoR</a></li>
            </ul>
        </div>
        <div class="linksbox">
            <ul>
                <li><a href="{% url 'gamut_network' %}">GAMUT Data Overview</a></li>
                <li><a href="http://data.iutahepscor.org/tsa/" target="_blank">GAMUT Data Viewer</a></li>
                <li><a href="{% url 'software_development' %}">Software Development</a></li>
            </ul>
        </div>
        <div class="linksbox lastbox">
            <ul>
                <li><a href="{% url 'documentation' %}">Documentation</a></li>
                <li><a href="{% url 'training_materials' %}">Training Materials</a></li>
                <li><a href="{% url 'personnel' %}">Contact Us</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
