{% extends "mdfserver/index.html" %}
{% load static %}
{% block content %}
    <div style="border: 1px solid rgb(220, 225, 230); padding-left: 20px; padding-right: 20px">
        {% for page in pages %}
            {% if subpage_name %}
                {% if requested == page.url %}
                    {% for subpage in page.subpage_set.all %}
                        {% if subpage_name|cut:" " == subpage.url|cut:" " %}
                            {{ subpage.content | safe }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% elif requested == page.url %}
                {{ page.content | safe }}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block unique_content %}
    <div style="border: 1px solid rgb(220, 225, 230); padding-top: 0px;" id="site_content">
        <div id="content">
            <h1></h1>

            <div id="big_image" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#big_image" data-slide-to="0" class="active"></li>
                    <li data-target="#big_image" data-slide-to="1"></li>
                    <li data-target="#big_image" data-slide-to="2"></li>
                    <li data-target="#big_image" data-slide-to="3"></li>
                    <li data-target="#big_image" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img style="margin-top: -226px;" src="{% static "mdfserver/img/RB_ARBR_C_120717_1.jpg" %}"
                             alt="iUTAH Epscor"
                             class="img-responsive">
                    </div>
                    <div class="item">
                        <img style="margin-top: -107px;" src="{% static "mdfserver/img/Untitled2.png" %}"
                             alt="iUTAH Epscor"
                             class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="/mdf/static/mdfserver/img/big_image3.jpg" alt="iUTAH Epscor" class="img-responsive"
                             style="
    height: 441px;
    margin-left: -133px;
    width: auto;
">
                    </div>
                    <div class="item">
                        <img style="margin-top: -255px;" src="{% static "mdfserver/img/TrialLakeSNOTELSite.jpg" %}"
                             alt="iUTAH Epscor" class="img-responsive">
                    </div>
                    <div class="item">
                        <img src="{% static "mdfserver/img/Untitled5.png" %}" alt="iUTAH Epscor" class="img-responsive">
                    </div>
                </div>
                <div class="carousel-caption">
                    <p style="color: #AAA; padding-bottom: 0px;">View streaming sensor data from iUTAH sites. Click
                        <a
                                class="banner-button" style="color: #6F8A9E;" href="http://data.iutahepscor.org/tsa/">here</a>
                        to use the Time
                        Series Analyst.</p>
                </div>
            </div>

            <div class="region region-content">
                <div id="block-system-main" class="block block-system">
                    <div class="content">
                        <div id="node-1" class="node node-page clearfix" about="/mdf/Home" typeof="foaf:Document">


                            <div class="content">
                                <div style="padding-left: 20px;padding-right: 20px;"
                                     class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                            <div class="item-page">
                                                <section class="column_left">
                                                    <h1>About Us</h1>
                                                    <p style="font-size: 16px;">
                                                        The iUTAH Modeling and Data Federation is a compendium of various tools and web-based interfaces for sharing data, models, and other digital resources. The iUTAH Cyberinfrastructure Team (CI Team) is focused on developing hardware and software systems and tools that improve iUTAH participants’ capacity for data collection, organization, management, sharing, synthesis to higher-level products, and integration with models.
                                                    </p>
                                                </section>

                                                <section class="column_right">
                                                    <h2>Highlights</h2>
                                                    <p>
                                                        <strong>Time Series Data Access and Visualization: </strong>
                                                        The iUTAH CI team has developed a web application for visualizing, summarizing, and exporting time series data. Currently, data from the iUTAH GAMUT network is accessible as well as active USGS sites in overlapping basins.
                                                        Click <a href="http://data.iutahepscor.org/tsa/">here</a> to visualize data with the web application.
                                                    </p>

                                                    <p>
                                                        <strong>Survey Data Viewer: </strong>
                                                        We have developed a web-based tool for visualizing responses to social science surveys. The viewer allows users to easily explore survey data with a various view options and to differentiate responses between different demographic groups. The viewer has been implemented for the Utah Water Survey and other iUTAH surveys are being added.
                                                        Click <a href="http://data.iutahepscor.org/surveys/">here</a> to see the surveys.
                                                    </p>

                                                    <p>
                                                        <strong>Site and Watershed Pages: </strong>
                                                        Dynamic content pages provide preview of current conditions and sites in the iUTAH GAMUT network. <br>
                                                        Check out sites located in the <a href="/mdf/Data/Logan_River/">Logan River</a>, <a href="/mdf/Data/Provo_River/">Provo River</a> and <a href="/mdf/Data/Red_Butte/">Red Butte Creek</a> watersheds.
                                                    </p>

                                                    <p><strong>Data Publication on the iUTAH Repository: </strong>
                                                         For iUTAH researchers to publish data and models, we have deployed the iUTAH <a href="http://repository.iutahepscor.org/">Repository</a>. The Repository supports discovery and access of datasets to a wide audience and provides citations of data products results from iUTAH research efforts. <strong style="font-size:0.93em;">Video tutorials for using the repository are available <a href="/mdf/About/Training_Materials/">here.</a></strong>
                                                    </p>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block links %}
    <div id="footerLinks">
        <div class="linksbox">
            <ul>
                <li><a href="http://www.iutahepscor.org">iUTAH Homepage</a></li>
                <li><a href="http://www.utepscor.org" target="_blank">Utah EPSCoR</a></li>
                <li><a href="http://ci-water.org/" target="_blank">CI-WATER EPSCoR</a></li>
            </ul>
        </div>
        <div class="linksbox">
            <ul>
                <li><a href="/mdf/Data/Gamut_Network">GAMUT Data Overview</a></li>
                <li><a href="http://data.iutahepscor.org/tsa/" target="_blank">GAMUT Data Viewer</a></li>
                <li><a href="/mdf/Development/Software_Development">Software Development</a></li>
            </ul>
        </div>
        <div class="linksbox lastbox">
            <ul>
                <li><a href="/mdf/About/Documentation">Documentation</a></li>
                <li><a href="/mdf/About/Training_Materials">Training Materials</a></li>
                <li><a href="/mdf/About/Personnel">Contact Us</a></li>
            </ul>
        </div>
    </div>
{% endblock %}